{{-
  $fishVersionCheck := joinPath
    .chezmoi.sourceDir "private_dot_local/bin/executable_fish_version_check"
}}
{{-
  if or
    (ne .os "linux")
    (not (lookPath "bash"))
    (exec "bash" $fishVersionCheck "4" "0" "0")
}}
{{-   abortEmpty }}
{{- end }}

{{- $arch := output "uname" "--machine" | trim }}
{{- $fishFile := printf "fish-*-linux-%s.tar.xz" $arch -}}

[".local/bin/fish"]
type = "archive-file"
path = "fish"
executable = true
url = {{ gitHubLatestReleaseAssetURL "fish-shell/fish-shell" $fishFile | quote }}
refreshPeriod = "672h"
