{{ $fishVersionCheck := joinPath .chezmoi.sourceDir "private_dot_local/bin/executable_fish_version_check" -}}

{{ if and (eq .os "linux") (not (exec "bash" $fishVersionCheck "4" "0" "0")) }}
{{   $arch := output "uname" "--machine" | trim -}}
[".local/bin/fish"]
    type = "archive-file"
    path = "fish"
    executable = true
    url = {{ gitHubLatestReleaseAssetURL "fish-shell/fish-shell" (printf "fish-*-linux-%s.tar.xz" $arch) | quote}}
    refreshPeriod = "672h"
{{ end }}
