{{- $repo := "ryanoasis/nerd-fonts" }}
{{- $fontsDir := ".local/share/fonts"}}

{{- if eq .os "windows" }}
{{-   $fontsDir = joinPath (env "LOCALAPPDATA") "Microsoft" "Windows" "Fonts" }}
{{- end -}}

[adwaita_mono]
type = "archive"
url = {{ gitHubLatestReleaseAssetURL $repo "AdwaitaMono.tar.xz" | quote }}
exact = false
refreshPeriod = "672h"
include = ["*.ttf"]
targetPath = {{ $fontsDir | quote}}

[ubuntu_mono]
type = "archive"
url = {{ gitHubLatestReleaseAssetURL $repo "UbuntuMono.tar.xz" | quote }}
exact = false
refreshPeriod = "672h"
include = ["*.ttf"]
targetPath = {{ $fontsDir | quote}}
