{{ $path := joinPath .chezmoi.homeDir "scoop/apps/firefox/current" -}}
{{ $templateData := set . "mozillaPath" $path -}}
{{ includeTemplate "private_dot_config/zen/create_profiles.ini.tmpl" $templateData -}}
