echo -e "${BLUE}Installing Chaotic-AUR...${NORMAL}"

if grep --quiet "chaotic-aur" /etc/pacman.conf; then
    echo -e "${GREEN}Chaotic-AUR is already installed.${NORMAL}"
else
    CHAOTIC_KEY="3056513887B78AEB"
    CHAOTIC_CDN="https://cdn-mirror.chaotic.cx/chaotic-aur"

    $CHEZ_SUDO pacman-key --init

    $CHEZ_SUDO pacman-key --recv-key $CHAOTIC_KEY --keyserver keyserver.ubuntu.com
    $CHEZ_SUDO pacman-key --lsign-key $CHAOTIC_KEY

    $CHEZ_SUDO pacman -U --noconfirm $CHAOTIC_CDN/chaotic-{keyring,mirrorlist}.pkg.tar.zst

    cat <<'EOF' | $CHEZ_SUDO tee --append /etc/pacman.conf >/dev/null

[chaotic-aur]
Include = /etc/pacman.d/chaotic-mirrorlist
EOF

    $CHEZ_SUDO pacman -Sy --noconfirm
    echo -e "${GREEN}Chaotic-AUR installed succesfully.${NORMAL}"
fi

echo -e "${BLUE}Installing Yay AUR helper...${NORMAL}"
$CHEZ_SUDO pacman -S --needed --noconfirm yay
echo -e "${GREEN}Yay installed successfully.${NORMAL}"

echo -e "${BLUE}Updating system to avoid partially updated dependencies...${NORMAL}"
yay -Syu --noconfirm
echo -e "${GREEN}System updated successfully.${NORMAL}"

echo -e "${BLUE}Installing pacman packages...${NORMAL}"
# shellcheck disable=1083
yay -S --needed --noconfirm {{ template "packages" . }}
echo -e "${GREEN}Packages installed successfully.${NORMAL}"
