# packages.yaml hash: {{ .packages.pacman | toString | sha256sum }}

function add_chaotic_aur() {
	CHAOTIC_KEY="3056513887B78AEB"
	CHAOTIC_CDN="https://cdn-mirror.chaotic.cx/chaotic-aur/"

    echo "Installing Chaotic-AUR..."
    {{ .sudo }} pacman-key --init

    {{ .sudo }} pacman-key --recv-key  $CHAOTIC_KEY --keyserver keyserver.ubuntu.com
    {{ .sudo }} pacman-key --lsign-key $CHAOTIC_KEY

    {{ .sudo }} pacman -U --noconfirm $CHAOTIC_CDN/chaotic-{keyring,mirrorlist}.pkg.tar.zst

    cat << 'EOF' | {{ .sudo }} tee --append /etc/pacman.conf > /dev/null

[chaotic-aur]
Include = /etc/pacman.d/chaotic-mirrorlist
EOF

    {{ .sudo }} pacman -Sy --noconfirm
    echo "Chaotic-AUR installed succesfully."
}

echo "Syncing package database..."
{{ .sudo }} pacman -Syu --noconfirm
echo "Installing package packages..."
{{ .sudo }} pacman -S --needed --noconfirm {{ join " " .packages.pacman }}

if grep --quiet "chaotic-aur" /etc/pacman.conf; then
	echo "Chaotic-AUR is detected as installed."
    exit 0
fi

read -p "Install Chaotic-AUR? [y/N]: " -r -s -N 1 CHAOTIC_REPLY; echo

case ${CHAOTIC_REPLY,,} in
    y) add_chaotic_aur;;
    *) echo "Skipping Chaotic-AUR installation.";;
esac
