{{- $repo := "ryanoasis/nerd-fonts" }}

[AdwaitaMono]
targetPath = "fonts"
type = "archive"
url = {{ gitHubLatestReleaseAssetURL $repo "AdwaitaMono.tar.xz" | quote }}
exact = false
refreshPeriod = "672h"
include = ["*.ttf"]

[UbuntuMono]
targetPath = "fonts"
type = "archive"
url = {{ gitHubLatestReleaseAssetURL $repo "UbuntuMono.tar.xz" | quote }}
exact = false
refreshPeriod = "672h"
include = ["*.ttf"]
