[Morewaita]
targetPath = "icons/Morewaita"
type = "git-repo"
url = "https://github.com/somepaulo/MoreWaita.git"
refreshPeriod = "672h"
include = ["index.theme", "scalable/**", "symbolic/**", "AUTHORS", "LICENSE"]
