{{ $arch := "" -}}
{{ $ext := "" -}}

{{ if eq .chezmoi.arch "amd64" -}}
{{   $arch = "x64" -}}
{{ else if eq .chezmoi.arch "arm64" -}}
{{   $arch = "arm64" -}}
{{ else -}}
{{   abortEmpty -}}
{{ end -}}

{{ if eq .os "linux" -}}
{{   $ext = "tar.xz" -}}
{{ else if eq .os "windows" -}}
{{   $ext = "zip" -}}
{{ else -}}
{{   abortEmpty -}}
{{ end -}}

["mise"]
targetPath = "bin"
type = "archive"
stripComponents = 2
include = ["mise/bin/*"]
exclude = ["mise/bin/mise.d"]
executable = true
{{ $asset := printf "mise-v*.*.*-%s-%s.%s" .os $arch $ext -}}
url = "{{ gitHubLatestReleaseAssetURL "jdx/mise" $asset }}"
