{{ $mise := "" -}}
{{ $arch := "" -}}
{{ $libc := "" -}}
{{ $ext := "" -}}

{{ if eq .chezmoi.arch "amd64" -}}
{{   $arch = "x64" -}}
{{ else if eq .chezmoi.arch "arm64" -}}
{{   $arch = "arm64" -}}
{{ else -}}
{{   abortEmpty -}}
{{ end -}}

{{ if eq .os "linux" -}}
{{   $mise = "mise" -}}
{{   $libc = "-musl" -}}
{{   $ext = "tar.xz" -}}
{{ else if eq .os "windows" -}}
{{   $mise = "mise.exe" -}}
{{   $libc = "" -}}
{{   $ext = "zip" -}}
{{ else -}}
{{   abortEmpty -}}
{{ end -}}

{{ $asset := printf "mise-v*.*.*-%s-%s%s.%s" .os $arch $libc $ext -}}
{{ $url := gitHubLatestReleaseAssetURL "jdx/mise" $asset -}}

["bin/{{ $mise }}"]
type = "archive-file"
path = "mise/bin/{{ $mise }}"
executable = true
url = "{{ $url }}"

{{ if eq .os "windows" -}}
["bin/mise-shim.exe"]
type = "archive-file"
path = "mise/bin/mise-shim.exe"
executable = true
url = "{{ $url }}"
{{ end -}}
