{{- $path := joinPath .chezmoi.homeDir "scoop/apps/zen-browser/current" }}
{{- $templateData := mergeOverwrite . (dict "mozillaPath" $path) }}
{{- includeTemplate "private_dot_config/zen/create_profiles.ini.tmpl" $templateData -}}
