# Use 'chezmoi cat-config' to preview this file.

{{  $name := "Iliya Iliev" }}
{{- $email := "iliq0000@proton.me" }}
{{- $isPersonal := promptBoolOnce . "isPersonal" "Are you Iliya Iliev" false }}
{{- if not $isPersonal }}
{{-   $email = promptStringOnce . "email" "Email (for git)" "" }}
{{-   $name = promptStringOnce . "name" "Name (for git)" ($email | splitList "@" | first) }}
{{- end }}

{{- $os := .chezmoi.os }}
{{- if eq $os "android" }}
{{-   $os = "linux" }}
{{- end }}

{{- $distro := coalesce (get .chezmoi.osRelease "idLike")
                        (get .chezmoi.osRelease "id")
                        (.chezmoi.os)
                        | splitList " " | last }}

{{- $manageGui := and
      (ne $distro "android")
      (env "container" | eq "")
      (promptBoolOnce . "manageGui" "Manage GUI applications" false)
}}

{{- $useSudo := false }}{{/* useSudo is for caching the answer to promptBoolOnce */}}
{{- $sudo := "su root -c" }}
{{- if or (eq .chezmoi.uid "0") (eq $distro "android") }}
{{-   $sudo = "" }}
{{- else if promptBoolOnce . "useSudo" "Use sudo" false }}
{{-   $useSudo = true }}
{{-   if lookPath "doas" }}
{{-     $sudo = "doas" }}
{{-   else if lookPath "gsudo" }}
{{-     $sudo = "gsudo" }}
{{-   else if lookPath "sudo" }}
{{-     $sudo = "sudo" }}
{{-   end }}
{{- else }}
{{-   $sudo = "false" }}
{{- end }}

{{- $verticalResolution := 0 }}
{{- $zenPath := "" }}
{{- $productName := "" }}
{{- $installGnome := false }}
{{- if eq $os "linux" }}
{{-   $cmdArgs := list "-c" "grep -osm1 '[0-9]*$' /sys/class/graphics/*/virtual_size || true" }}
{{-   $verticalResolution = outputList "sh" $cmdArgs | trim | atoi }}
{{-   $productFile := "/sys/devices/virtual/dmi/id/product_name" }}
{{-   $productName = and (stat $productFile | default "") (include $productFile) | trim }}
{{-   $zenPath = "/opt/zen-browser-bin" }}
{{-   $installGnome = and $manageGui $useSudo (promptBoolOnce . "installGnome" "Install Gnome desktop" false) }}
{{- else if eq $os "windows" }}
{{-   $cmdArgs := list "-nop" "-c" "Add-Type -A System.Windows.Forms; [Windows.Forms.Screen]::PrimaryScreen.Bounds.Height"}}
{{-   $verticalResolution = outputList "powershell" $cmdArgs | trim | atoi }}
{{-   $cmdArgs := list "-nop" "-c" "Get-ItemPropertyValue HKLM:/HARDWARE/DESCRIPTION/System/BIOS SystemProductName" }}
{{-   $productName = outputList "powershell" $cmdArgs | trim }}
{{-   $zenPath = joinPath .chezmoi.homeDir "scoop/apps/zen-browser/current" }}
{{- end }}

{{- $packageInfoFile := joinPath .chezmoi.sourceDir ".chezmoi/packages.yaml" | include | fromYaml }}
{{- $packages := $packageInfoFile.base }}
{{- if $manageGui }}
{{-   $packages = mergeOverwrite $packages $packageInfoFile.gui }}
{{-   if $installGnome }}
{{-     $packages = mergeOverwrite $packages $packageInfoFile.guiGnome }}
{{-   end }}
{{- end }}
{{- if env "container" }}
{{- /* Do not install VM guest packages for containers. */}}
{{- else if contains "Standard PC" $productName }}
{{-   $packages = mergeOverwrite $packages $packageInfoFile.kvmGuest }}
{{- else if eq $productName "VirtualBox" }}
{{-   $packages = mergeOverwrite $packages $packageInfoFile.oracleGuest }}
{{- end }}

{{- $packageManagers := joinPath .chezmoi.sourceDir ".chezmoi/package_managers.yaml" | include | fromYaml }}
{{- $packageManager := get $packageManagers $distro }}
{{- $currentPackages := list }}
{{- range $package, $overrides := $packages }}
{{-   $overrides = $overrides | default dict }}
{{-   if hasKey $overrides $packageManager }}
{{-     $package = index $overrides $packageManager }}
{{-   else if hasKey $overrides "*" }}
{{-     $package = index $overrides "*" }}
{{-   end }}
{{-   $currentPackages = append $currentPackages $package }}
{{- end -}}

[data]
os = {{ $os | lower | quote }}
distro = {{ $distro | lower | quote }}
useSudo = {{ $useSudo }}
isPersonal = {{ $isPersonal }}
name = {{ $name | quote }}
email = {{ $email | quote }}
manageGui = {{ $manageGui }}
zenPath = {{ $zenPath | quote }}
installGnome = {{ $installGnome }} # Linux only

[data.fonts]
{{- if gt $verticalResolution 1080 }}
size = 20 # Detected big
{{- else if or (gt $verticalResolution 800) (eq $verticalResolution 0) }}
size = 16 # Detected medium
{{- else }}
size = 12 # Detected small
{{- end }}
{{- printf " font size from %dpx vertical resolution." $verticalResolution }}

[diff]
pager = {{ and (lookPath "delta") "delta" | quote }}

[env]
BASH_ENV = "$CHEZMOI_SOURCE_DIR/.chezmoi/env.sh"
CHEZ_DISTRO = {{ $distro | quote }}
CHEZ_SUDO = {{ $sudo | quote }}
CHEZ_IS_PERSONAL = {{ $isPersonal | quote }}
CHEZ_MANAGE_GUI = {{ $manageGui | quote }}
PACKAGES = {{ compact $currentPackages | sortAlpha | join " " | quote }}
{{- $localBin := joinPath .chezmoi.homeDir ".local/bin" }}
{{- $pathList := env "PATH" | splitList .chezmoi.pathListSeparator }}
PATH = {{ prepend $pathList $localBin | uniq | join .chezmoi.pathListSeparator | quote }}
PSExecutionPolicyPreference = "Bypass"

[github]
refreshPeriod = "24h"

{{- if eq $distro "android" }}
[interpreters]
""   = { command = "sh", args = ["-c", 'termux-fix-shebang "$1" && exec "$1"', "--"] }
fish = { command = "sh", args = ["-c", 'termux-fix-shebang "$1" && exec "$1"', "--"] }
{{- end }}

[interpreters.ps1]
command = "powershell"
args = ["-nol", "-nop", "-f", "{{ .chezmoi.sourceDir }}/.chezmoi/env.ps1"]

[interpreters.py]
command = "uv"
args = ["run", "--quiet", "--script"]
