{{ $month := "672h" | quote -}}
{{ $fishVersionCheck := joinPath .chezmoi.sourceDir "private_dot_local/bin/executable_fish_version_check" -}}

{{ if and (eq .os "linux") (not (exec "bash" $fishVersionCheck "4" "0" "0")) }}
{{   $arch := output "uname" "--machine" | trim -}}
[".local/bin/fish"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "fish-shell/fish-shell" (printf "fish-*-linux-%s.tar.xz" $arch) | quote}}
    executable = true
    path = "fish"
    refreshPeriod = {{ $month }}
{{ end }}

[".config/fish/functions/fisher.fish"]
    type = "file"
    url = "https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish"

["AppData/Local/clink/zoxide.lua"]
    type = "file"
    url = "https://raw.githubusercontent.com/shunsambongi/clink-zoxide/master/zoxide.lua"
    refreshPeriod = {{ $month }}
