{{- /* Use 'chezmoi cat-config' to preview this file. */ -}}

{{- $name := "Iliya Iliev" }}
{{- $email := "iliq0000@proton.me" }}
{{- $isPersonal := promptBoolOnce . "isPersonal" "Are you Iliya Iliev" false }}
{{- if not $isPersonal }}
{{-   $email = promptStringOnce . "email" "Email (for git)" "" }}
{{-   $name = promptStringOnce . "name" "Name (for git)" ($email | splitList "@" | first) }}
{{- end }}

{{- $os := .chezmoi.os }}
{{- if eq $os "android" }}
{{-   $os = "linux" }}
{{- end }}

{{- $distro := .chezmoi.os }}
{{- if hasKey .chezmoi.osRelease "idLike" }}
{{-   $distro = splitList " " .chezmoi.osRelease.idLike | last }}
{{- else if hasKey .chezmoi.osRelease "id" }}
{{-   $distro = .chezmoi.osRelease.id }}
{{- end }}

{{- $manageGui := and
      (ne $distro "android")
      (env "container" | eq "")
      (promptBoolOnce . "manageGui" "Manage GUI applications" false)
}}

{{- $useSudo := true }}{{/* useSudo is for caching the answer to promptBoolOnce */}}
{{- $sudo := "su root -c" }}
{{- if or (eq .chezmoi.uid "0") (eq $distro "android") }}
{{-   $sudo = "" }}
{{- else if promptBoolOnce . "useSudo" "Use sudo" false }}
{{-   if lookPath "doas" }}
{{-     $sudo = "doas" }}
{{-   else if lookPath "gsudo" }}
{{-     $sudo = "gsudo" }}
{{-   else if lookPath "sudo" }}
{{-     $sudo = "sudo" }}
{{-   end }}
{{- else }}
{{-   $sudo = "false" }}
{{- end }}

{{- $verticalResolution := 0 }}
{{- $zenPath := "" }}
{{- if eq $os "linux" }}
{{-   $verticalResolution = output "sh" "-c"
        "grep -osm1 '[0-9]*$' /sys/class/graphics/*/virtual_size || true" | trim | atoi }}
{{-   $zenPath = "/opt/zen-browser-bin" }}
{{- else if eq $os "windows" }}
{{-   $verticalResolution = output "powershell" "-NoProfile" "-Command"
        "Add-Type -A System.Windows.Forms; [Windows.Forms.Screen]::PrimaryScreen.Bounds.Height" | trim | atoi }}
{{-   $zenPath = joinPath .chezmoi.homeDir "scoop/apps/zen-browser/current" }}
{{- end }}

{{- $packageManagers := joinPath .chezmoi.sourceDir ".chezmoi/package_managers.yaml" | include | fromYaml }}
{{- $packageManager := get $packageManagers $distro }}
{{- $packageInfoFile := joinPath .chezmoi.sourceDir ".chezmoi/packages.yaml" | include | fromYaml }}
{{- $packages := $packageInfoFile.base }}
{{- $hypervisor := and (lookPath "systemd-detect-virt") (output "sh" "-c" "systemd-detect-virt || true" | trim) }}

{{- if $manageGui }}
{{-   $packages = merge $packages $packageInfoFile.gui }}
{{- end }}
{{- if eq $hypervisor "kvm" }}
{{-   $packages = merge $packages $packageInfoFile.kvmGuest }}
{{- else if eq $hypervisor "oracle" }}
{{-   $packages = merge $packages $packageInfoFile.oracleGuest }}
{{- end }}

{{- $currentPackages := list }}
{{- range $package, $overrides := $packages }}
{{-   $overrides = $overrides | default dict }}
{{-   if hasKey $overrides $packageManager }}
{{-     $package = index $overrides $packageManager }}
{{-   else if hasKey $overrides "*" }}
{{-     $package = index $overrides "*" }}
{{-   end }}
{{-   $currentPackages = append $currentPackages $package }}
{{- end -}}

[data]
os = {{ $os | lower | quote }}
distro = {{ $distro | lower | quote }}
useSudo = {{ $useSudo }}
isPersonal = {{ $isPersonal }}
name = {{ $name | quote }}
email = {{ $email | quote }}
manageGui = {{ $manageGui }}
zenPath = {{ $zenPath | quote }}

[data.fonts]
{{- if gt $verticalResolution 1080 }}
size = 20 # detected big
{{- else if or (gt $verticalResolution 800) (eq $verticalResolution 0) }}
size = 16 # detected medium
{{- else }}
size = 12 # detected small
{{- end }}

[diff]
pager = {{ and (lookPath "delta") "delta" | quote }}

[env]
BASH_ENV = "$CHEZMOI_SOURCE_DIR/.chezmoi/chezmoi.bash"
CHEZ_DISTRO = {{ $distro | quote }}
CHEZ_SUDO = {{ $sudo | quote }}
CHEZ_IS_PERSONAL = {{ $isPersonal | quote }}
CHEZ_MANAGE_GUI = {{ $manageGui | quote }}
PACKAGES = {{ compact $currentPackages | sortAlpha | join " " | quote }}
{{- $localBin := joinPath .chezmoi.homeDir ".local/bin" }}
{{- $pathList := env "PATH" | splitList .chezmoi.pathListSeparator }}
PATH = {{ prepend $pathList $localBin | uniq | join .chezmoi.pathListSeparator | quote }}
PSExecutionPolicyPreference = "Bypass"

[github]
refreshPeriod = "24h"

{{- if eq $distro "android" }}
[interpreters]
""   = { command = "sh", args = ["-c", 'termux-fix-shebang "$1" && exec "$1"', "--"] }
fish = { command = "sh", args = ["-c", 'termux-fix-shebang "$1" && exec "$1"', "--"] }
{{- end }}

[interpreters.ps1]
command = "powershell"
args = ["-NoLogo", "-NoProfile", "-File", "{{ .chezmoi.sourceDir }}/.chezmoi/chezmoi.ps1"]

[interpreters.py]
command = "uv"
args = ["run", "--quiet", "--script"]
