{{- $os := "unknown" }}
{{- $distro := "unknown" }}
{{- $sudo := "su root -c" }}
{{- $verticalResolution := 0 }}
{{- $zenPath := "" }}
{{- $name := "Iliya Iliev" }}
{{- $email := "iliq0000@proton.me" }}
{{- $fontSizeSmall := 12 }}
{{- $fontSizeMedium := 16 }}
{{- $fontSizeBig := 20 }}
{{- $localBin := joinPath .chezmoi.homeDir ".local" "bin" }}
{{- $pathList := (splitList .chezmoi.pathListSeparator (env "PATH")) }}
{{- $packageManagerFile := fromYaml (include (joinPath .chezmoi.sourceDir "data/package_managers.yaml")) }}
{{- $packageInfoFile := fromYaml (include (joinPath .chezmoi.sourceDir "data/packages.yaml")) }}

{{- if or (eq .chezmoi.os "linux" "android") }}
{{-   $os = "linux" }}
{{- else if hasKey .chezmoi "os" }}
{{-   $os = .chezmoi.os }}
{{- end }}

{{- if hasKey .chezmoi.osRelease "idLike" }}
{{-   $distro = splitList " " .chezmoi.osRelease.idLike | last }}
{{- else if hasKey .chezmoi.osRelease "id" }}
{{-   $distro = .chezmoi.osRelease.id }}
{{- else if hasKey .chezmoi "os" }}
{{-   $distro = .chezmoi.os }}
{{- end }}

{{- if or (eq .chezmoi.uid "0") (eq $distro "android") }}
{{-   $sudo = "" }}
{{- else if lookPath "doas"}}
{{-   $sudo = "doas" }}
{{- else if lookPath "gsudo"}}
{{-   $sudo = "gsudo" }}
{{- else if lookPath "sudo"}}
{{-   $sudo = "sudo" }}
{{- end }}

{{- if eq $os "linux" }}
{{-   $verticalResolution = output "sh" "-c"
        "grep -osm1 '[0-9]*$' /sys/class/graphics/*/virtual_size || true" | trim | atoi }}
{{-   $zenPath = "/opt/zen-browser-bin" }}
{{- else if eq $os "windows" }}
{{-   $verticalResolution = output "powershell" "-Command"
        "(gwmi Win32_VideoController).CurrentVerticalResolution" | trim | atoi }}
{{-   $zenPath = joinPath .chezmoi.homeDir "scoop" "apps" "zen-browser" "current" }}
{{- end }}

{{- $isPersonal := promptBoolOnce . "isPersonal" "Are you a Iliya Iliev" false }}
{{- if not $isPersonal }}
{{-   $email = promptStringOnce . "email" "Email (for git)" "" | quote }}
{{-   $name = promptStringOnce . "name" "Name (for git)" (splitList "@" $email | first) | quote }}
{{- end }}

{{- $packageManager := get $packageManagerFile $distro }}
{{- $packages := $packageInfoFile.base }}
{{- $installGui := and (ne $distro "android") (promptBoolOnce . "installGui" "Install GUI applications" false) }}
{{- $hypervisor := and (lookPath "systemd-detect-virt") (output "sh" "-c" "systemd-detect-virt || true" | trim) -}}

{{- if $installGui }}
{{-   $packages = merge $packages $packageInfoFile.gui }}
{{- end }}
{{- if eq $hypervisor "kvm" }}
{{-   $packages = merge $packages $packageInfoFile.kvmGuest }}
{{- else if eq $hypervisor "oracle" }}
{{-   $packages = merge $packages $packageInfoFile.oracleGuest }}
{{- end }}

{{- $currentPackages := list }}
{{- range $package, $overrides := $packages }}
{{-   if hasKey $overrides $packageManager }}
{{-     $package = index $overrides $packageManager }}
{{-   else if hasKey $overrides "*" }}
{{-     $package = index $overrides "*" }}
{{-   end }}
{{-   $currentPackages = append $currentPackages $package }}
{{- end }}

[data]
os = {{ $os | lower | quote }}
distro = {{ $distro | lower | quote }}
isPersonal = {{ $isPersonal }}
name = {{ $name | quote }}
email = {{ $email | quote }}
installGui= {{ $installGui }}
zenPath = {{ $zenPath | quote }}

[data.fonts]
{{- if gt $verticalResolution 1080 }}
size = {{ $fontSizeBig }}
{{- else if or (gt $verticalResolution 800) (eq $verticalResolution 0) }}
size = {{ $fontSizeMedium }}
{{- else }}
size = {{ $fontSizeSmall }}
{{- end }}

{{- if lookPath "delta" }}

[diff]
pager = "delta"

{{- end }}

[env]
RED    = '\033[31m'
GREEN  = '\033[32m'
YELLOW = '\033[33m'
BLUE   = '\033[34m'
NORMAL = '\033[0m'
CHEZ_DISTRO = {{ $distro | quote }}
CHEZ_SUDO = {{ $sudo | quote }}
PACKAGES = {{ join " " (sortAlpha (compact ($currentPackages))) | quote }}
PATH = {{ join .chezmoi.pathListSeparator (uniq (prepend $pathList $localBin)) | quote }}

[interpreters.fish]
command = "fish"

[interpreters.ps1]
command = "powershell"
args = ["-NoLogo", "-NoProfile", "-File", "{{ .chezmoi.sourceDir }}/data/profile_wrapper.ps1"]

[interpreters.sh]
command = "bash"
args = ["-eu"]
