# Install script and README.md
install
README.md

# Data used by scripts and README.md
data

# Distro-specific scripts
{{- if ne .distro "alpine" }}
.chezmoiscripts/linux/alpine/**
{{- end }}

{{- if ne .distro "arch" }}
.chezmoiscripts/linux/arch/**
{{- end }}

{{- if not (regexMatch "debian|ubuntu|android" .distro) }}
.chezmoiscripts/linux/debian/**
{{- end }}

{{- if ne .os "linux" }}
.chezmoiscripts/linux/**
{{- end }}

{{- if ne .os "windows" }}
.chezmoiscripts/windows/**
AppData/**
scoop/**
{{- end }}
