# Install script and README.md
install
README.md

# Distro-specific scripts
{{- if ne .os "linux" }}
.chezmoiscripts/linux/**
.config/fish/**
.config/kitty/**
.config/MangoHud/**
.local/share/**
{{- end }}

{{- if ne .distro "alpine" }}
.chezmoiscripts/linux/alpine/**
{{- end }}

{{- if ne .distro "android" }}
.chezmoiscripts/linux/android/**
.termux/**
{{- end }}

{{- if ne .distro "arch" }}
.chezmoiscripts/linux/arch/**
{{- end }}

{{- if not (has .distro (list "debian" "ubuntu")) }}
.chezmoiscripts/linux/debian/**
{{- end }}

{{- if not (lookPath "gnome-shell") }}
.chezmoiscripts/linux/gnome/**
{{- end }}

{{- if ne .os "windows" }}
.chezmoiscripts/windows/**
AppData/**
scoop/**
{{- end }}

# GUI-specific files
{{- if not .manageGui }}
.config/zed/**
.config/zen/**
.local/share/fonts/**
{{- end }}
