install
README.md

data

{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
AppData/**
{{ end }}

{{ if ne .distro "arch" }}
.chezmoiscripts/linux/arch/**
{{ end }}

{{ if not (regexMatch "debian|ubuntu|android" .distro) }}
.chezmoiscripts/linux/debian/**
{{ end }}

{{ if ne .distro "alpine" }}
.chezmoiscripts/linux/alpine/**
{{ end }}

{{ if ne .os "linux" }}
.chezmoiscripts/linux/**
{{ end }}
