# Use 'chezmoi cat-config' to preview this file.

[data]
{{ $os := .chezmoi.os | lower | replace "android" "linux" -}}
{{ if not (has $os (list "linux" "windows")) -}}
{{   writeToStdout (println "Dotfiles: unsupported OS:" $os) -}}
{{   exit 1 -}}
{{ else if not (has .chezmoi.arch (list "amd64" "arm64")) -}}
{{   writeToStdout (println "Dotfiles: unsupported architecture:" .chezmoi.arch) -}}
{{   exit 1 -}}
{{ end -}}
os = "{{ $os }}"
{{ $distro := coalesce (get .chezmoi.osRelease "idLike")
                       (get .chezmoi.osRelease "id")
                       (.chezmoi.os)
                       | splitList " " | last | lower -}}
distro = "{{ $distro }}"
{{ $isPersonal := promptBoolOnce . "isPersonal" "Are you Iliya Iliev" false -}}
isPersonal = {{ $isPersonal }}
{{ $isWork := and ($isPersonal) (env "USERDNSDOMAIN" | eq "AD.BTK.BG") -}}
isWork = {{ $isWork }}
{{ $name := "Iliya Iliev" -}}
{{ $email := "iliq0000@proton.me" -}}
{{ if not $isPersonal -}}
{{   $email = promptStringOnce . "email" "Email (for git)" "" -}}
{{   $name = promptStringOnce . "name" "Name (for git)" ($email | splitList "@" | first) -}}
{{ end -}}
name = "{{ $name }}"
email = "{{ $email }}"
{{ $manageGui := and (ne $distro "android")
                     (env "container" | eq "")
                     (promptBoolOnce . "manageGui" "Manage GUI applications" true) -}}
manageGui = {{ $manageGui }}
{{ $sudo := "su root -c" -}}
{{ $useSudo := false -}}{{/* useSudo is for caching the answer to promptBoolOnce */ -}}
{{ if or (eq .chezmoi.uid "0") (hasSuffix "-500" .chezmoi.uid) (eq $distro "android") -}}
{{   $sudo = "" -}}
{{ else if promptBoolOnce . "useSudo" "Ask for admin/sudo privileges when needed" true -}}
{{   $useSudo = true -}}
{{   if lookPath "doas" -}}
{{     $sudo = "doas" -}}
{{   else if eq $os "windows" -}}
{{     $sudo = "gsudo" -}}
{{   else if lookPath "sudo" -}}
{{     $sudo = "sudo" -}}
{{   end -}}
{{ else -}}
{{   $sudo = "false" -}}
{{ end -}}
sudo = "{{ $sudo }}"
useSudo = {{ $useSudo }}
{{ $installGnome := false -}}
{{ $productName := "" -}}
{{ $verticalResolution := 0 -}}
{{ if eq $os "linux" -}}
{{   $gnomeInstalled := lookPath "gnome-shell" | ne "" -}}
{{   $installGnome = and $manageGui $useSudo (or ($gnomeInstalled) (promptBoolOnce . "installGnome" "Install Gnome desktop" false)) -}}
{{   $cmdArgs := list "-c" "grep -osm1 '[0-9]*$' /sys/class/graphics/*/virtual_size || true" -}}
{{   $verticalResolution = outputList "sh" $cmdArgs | trim | atoi -}}
{{   $productFile := "/sys/devices/virtual/dmi/id/product_name" -}}
{{   $productName = and (stat $productFile | default "") (include $productFile) | trim -}}
{{ else if eq $os "windows" -}}
{{   $cmdArgs := list "-nop" "-c" "gpv HKLM:/HARDWARE/DESCRIPTION/System/BIOS SystemProductName" -}}
{{   $productName = outputList "powershell" $cmdArgs | trim -}}
{{   $cmdArgs := list "-nop" "-c" "Add-Type -A System.Windows.Forms; [Windows.Forms.Screen]::PrimaryScreen.Bounds.Height" -}}
{{   $verticalResolution = outputList "powershell" $cmdArgs | trim | atoi -}}
{{ end -}}
installGnome = {{ $installGnome }}
productName = "{{ $productName }}"

[data.fonts]
{{ $size := 0 -}}
{{ if gt $verticalResolution 1080 -}}
{{ $size = 20 -}}
{{ else if or (gt $verticalResolution 800) (eq $verticalResolution 0) -}}
{{ $size = 16 -}}
{{ else -}}
{{ $size = 12 -}}
{{ end -}}
# Font size chosen from detected vertical resolution: {{ $verticalResolution }}px
size = {{ $size }}

[diff]
pager = "{{ and (lookPath "delta") "delta" }}"

[env]
{{ $localBin := joinPath .chezmoi.homeDir ".local/bin" -}}
{{ $pathList := env "PATH" | splitList .chezmoi.pathListSeparator -}}
{{ $pathList := prepend $pathList $localBin -}}
CHEZ_SUDO = "{{ $sudo }}"
PATH = '{{ $pathList | uniq | join .chezmoi.pathListSeparator }}'
PYTHONPATH = '{{ .chezmoi.workingTree }}'

[github]
refreshPeriod = "5m"

{{ if eq $distro "android" -}}
[interpreters.""]
command = 'sh'
args = ['-c', 'termux-fix-shebang "$1" && exec "$1"', '--']

[interpreters.fish]
command = 'sh'
args = ['-c', 'termux-fix-shebang "$1" && exec "$1"', '--']

{{ end -}}

[interpreters.py]
command = "uv"
args = ["run", "--quiet"]
