# Use 'chezmoi cat-config' to preview this file.

[data]
{{ $os := .chezmoi.os | lower | replace "android" "linux" -}}
{{ if not (has $os (list "linux" "windows")) -}}
{{   writeToStdout (println "Dotfiles: ERROR: unsupported OS:" $os) -}}
{{   exit 1 -}}
{{ else if not (has .chezmoi.arch (list "amd64" "arm64")) -}}
{{   writeToStdout (println "Dotfiles: ERROR: unsupported architecture:" .chezmoi.arch) -}}
{{   exit 1 -}}
{{ end -}}
os = "{{ $os }}"
{{ $distro := coalesce (get .chezmoi.osRelease "idLike")
                       (get .chezmoi.osRelease "id")
                       (.chezmoi.os)
                       | splitList " " | last | lower -}}
{{ $supportedDistros := list "alpine" "android" "arch" "debian" "fedora" "ubuntu" "windows" -}}
{{ if not (has $distro $supportedDistros) -}}
{{   writeToStdout (println "Dotfiles: WARNING: unsupported distribution:" $distro) -}}
{{ end -}}
distro = "{{ $distro }}"
{{ $isPersonal := promptBoolOnce . "isPersonal" "Are you Iliya Iliev" false -}}
isPersonal = {{ $isPersonal }}
{{ $isWork := and ($isPersonal) (env "USERDNSDOMAIN" | eq "AD.BTK.BG") -}}
isWork = {{ $isWork }}
{{ $name := "Iliya Iliev" -}}
{{ $email := "iliq0000@proton.me" -}}
{{ if not $isPersonal -}}
{{   $email = promptStringOnce . "email" "Email (for git)" "" -}}
{{   $name = promptStringOnce . "name" "Name (for git)" ($email | splitList "@" | first) -}}
{{ end -}}
name = "{{ $name }}"
email = "{{ $email }}"
{{ $manageGui := and (ne $distro "android")
                     (env "container" | eq "")
                     (promptBoolOnce . "manageGui" "Manage GUI applications" true) -}}
manageGui = {{ $manageGui }}
{{ $sudo := "su root -c" -}}
{{ $useSudo := true -}}
{{ if or (eq .chezmoi.uid "0") (hasSuffix "-500" .chezmoi.uid) (eq $distro "android") -}}
{{   $sudo = "" -}}
{{ else if promptBoolOnce . "useSudo" "Ask for admin/sudo privileges when needed" true -}}
{{   if lookPath "doas" -}}
{{     $sudo = "doas" -}}
{{   else if eq $os "windows" -}}
{{     $sudo = "gsudo" -}}
{{   else if lookPath "sudo" -}}
{{     $sudo = "sudo" -}}
{{   end -}}
{{ else -}}
{{   $sudo = "false" -}}
{{   $useSudo = false -}}
{{ end -}}
useSudo = {{ $useSudo }}
{{ if eq $os "linux" -}}
{{   $productFile := "/sys/devices/virtual/dmi/id/product_name" -}}
     productName = "{{ and (stat $productFile | default "") (include $productFile) | trim -}}"
{{ else if eq $os "windows" -}}
     productName = "{{ output "powershell" "-nop" "-c" "gpv HKLM:/HARDWARE/DESCRIPTION/System/BIOS SystemProductName" | trim -}}"
{{ end -}}
{{ $manageGnome := and (eq $os "linux")
                       ($manageGui)
                       (or (eq $sudo "") ($useSudo))
                       (or (ne (lookPath "gnome-shell") "") (promptBoolOnce . "manageGnome" "Install Gnome" false)) -}}
manageGnome = {{ $manageGnome }}

[data.fonts]
{{ $vertRes := 0 -}}
{{ if and (eq $os "linux") ($manageGui) -}}
{{   $vertRes = output "sh" "-c" "grep -osm1 '[0-9]*$' /sys/class/graphics/*/virtual_size || true" | trim | atoi -}}
{{ else if and (eq $os "windows") ($manageGui) -}}
{{   $vertRes = output "powershell" "-nop" "-c" "Add-Type -A System.Windows.Forms; [Windows.Forms.Screen]::PrimaryScreen.Bounds.Height" | trim | atoi -}}
{{ end -}}
{{ $fontSize := 16 -}}
{{ if gt $vertRes 1080 -}}
{{   $fontSize = 20 -}}
{{ else if and (gt $vertRes 0) (le $vertRes 800) -}}
{{   $fontSize = 12 -}}
{{ end -}}
# Font size chosen from detected vertical resolution: {{ $vertRes }}px
size = {{ $fontSize }}

[diff]
pager = "{{ and (lookPath "delta") "delta" }}"

[env]
{{ $localBin := joinPath .chezmoi.homeDir ".local/bin" -}}
{{ $pathList := env "PATH" | splitList .chezmoi.pathListSeparator -}}
{{ $pathList = prepend $pathList $localBin -}}
CHEZ_SUDO = "{{ $sudo }}"
PATH = '{{ $pathList | uniq | join .chezmoi.pathListSeparator }}'
PYTHONPATH = '{{ .chezmoi.workingTree }}'

[github]
refreshPeriod = "5m"

{{ if eq $distro "android" -}}
[interpreters.""]
command = 'sh'
args = ['-c', 'termux-fix-shebang "$1" && exec "$1"', '--']

[interpreters.fish]
command = 'sh'
args = ['-c', 'termux-fix-shebang "$1" && exec "$1"', '--']
{{ "\n" }}{{ end -}}

[interpreters.py]
command = "uv"
args = ["run", "--quiet"]
