README.md

{{- if ne .os "linux" }}
.chezmoiscripts/linux/**
{{- end }}

{{- if not .manageGui }}
.chezmoiscripts/linux/gui/**
{{- end }}

{{- if ne .os "windows" }}
.chezmoiscripts/windows/**
{{- end }}
