README.md

{{- if ne .os "linux" }}
.chezmoiscripts/linux/**
{{- end }}

{{- if ne .distro "alpine" }}
.chezmoiscripts/linux/alpine/**
{{- end }}

{{- if ne .distro "arch" }}
.chezmoiscripts/linux/arch/**
{{- end }}

{{- if not (lookPath "gnome-shell") }}
.chezmoiscripts/linux/gnome/**
{{- end }}

{{- if not .manageGui }}
.chezmoiscripts/linux/gui/**
{{- end }}

{{- if ne .os "windows" }}
.chezmoiscripts/windows/**
{{- end }}
