# Use 'chezmoi cat-config' to preview this file.

[data]
{{ $os := .chezmoi.os | lower | replace "android" "linux" -}}
{{ if not (list "linux" "windows" | has $os) -}}
{{   println "DOTFILES ERROR: unsupported OS:" $os | writeToStdout -}}
{{   exit 1 -}}
{{ else if not (list "amd64" "arm64" | has .chezmoi.arch) -}}
{{   println "DOTFILES ERROR: unsupported architecture:" .chezmoi.arch | writeToStdout -}}
{{   exit 1 -}}
{{ end -}}
os = "{{ $os }}"
{{ $distro := coalesce (index .chezmoi.osRelease "idLike")
                       (index .chezmoi.osRelease "id")
                       | default .chezmoi.os | splitList " " | last | lower -}}
{{ $supportedDistros := list "alpine" "android" "arch" "debian" "fedora" "ubuntu" "windows" -}}
{{ if not ($supportedDistros | has $distro) -}}
{{   println "DOTFILES WARNING: unsupported distribution:" $distro | writeToStdout -}}
{{ end -}}
distro = "{{ $distro }}"
{{ $isPersonal := promptBoolOnce . "isPersonal" "Are you Iliya Iliev" false -}}
isPersonal = {{ $isPersonal }}
isWork = {{ $isPersonal | and (env "USERDNSDOMAIN" | eq "AD.BTK.BG") }}
{{ $email := "iliq0000@proton.me" -}}
{{ $name := "Iliya Iliev" -}}
{{ if not $isPersonal -}}
{{   $email = promptStringOnce . "email" "Email (for git)" "" -}}
{{   $name = promptStringOnce . "name" "Name (for git)" ($email | splitList "@" | first) -}}
{{ end -}}
email = "{{ $email }}"
name = "{{ $name }}"
{{ $canSudo := true -}}
{{ $sudo := "su root -c" -}}
{{ if or (.chezmoi.uid | eq "0")
         ($distro | eq "android")
         (and ($os | eq "windows") (exec "net" "session")) -}}
{{   $sudo = "" -}}
{{ else if promptBoolOnce . "canSudo" "Ask for admin/sudo privileges when needed" true -}}
{{   if lookPath "doas" -}}
{{     $sudo = "doas" -}}
{{   else if $os | eq "windows" -}}
{{     $sudo = "gsudo" -}}
{{   else if lookPath "sudo" -}}
{{     $sudo = "sudo" -}}
{{   end -}}
{{ else -}}
{{   $canSudo = false -}}
{{   $sudo = "false" -}}
{{ end -}}
canSudo = {{ $canSudo }}
{{ if $os | eq "linux" -}}
{{   $productFile := "/sys/devices/virtual/dmi/id/product_name" -}}
     productName = "{{ and (stat $productFile) (include $productFile | trim) -}}"
{{ else if $os | eq "windows" -}}
     productName = "{{ output "powershell" "-nop" "-c" "gpv HKLM:/HARDWARE/DESCRIPTION/System/BIOS SystemProductName" | trim -}}"
{{ end -}}
{{ $manageGui := and ($distro | ne "android")
                     (not (env "container"))
                     (promptBoolOnce . "manageGui" "Manage GUI applications" true) -}}
manageGui = {{ $manageGui }}
manageGnome = {{ and (eq $os "linux")
                     ($manageGui)
                     (or ($sudo | eq "") ($canSudo))
                     (or (lookPath "gnome-shell" | ne "") (promptBoolOnce . "manageGnome" "Manage Gnome" false)) }}

[data.fonts]
{{ $vertRes := 0 -}}
{{ if $os | eq "linux" | and $manageGui -}}
{{   $vertRes = output "sh" "-c" "grep -osm1 '[0-9]*$' /sys/class/graphics/*/virtual_size || true" | trim | int -}}
{{ else if $os | eq "windows" | and $manageGui -}}
{{   $vertRes = output "powershell" "-nop" "-c" "Add-Type -A System.Windows.Forms; [Windows.Forms.Screen]::PrimaryScreen.Bounds.Height" | trim | int -}}
{{ end -}}
{{ $fontSize := 16 -}}
{{ if gt $vertRes 1080 -}}
{{   $fontSize = 20 -}}
{{ else if (gt $vertRes 0) | and (le $vertRes 800) -}}
{{   $fontSize = 12 -}}
{{ end -}}
# Font size chosen from detected vertical resolution: {{ $vertRes }}px
size = {{ $fontSize }}

[diff]
pager = "{{ if lookPath "delta"}}delta{{ end }}"

[env]
CHEZ_SUDO = "{{ $sudo }}"
{{ $pathList := env "PATH" | splitList .chezmoi.pathListSeparator -}}
{{ $pathList = joinPath .chezmoi.homeDir ".local/bin" | prepend $pathList -}}
PATH = '{{ $pathList | uniq | join .chezmoi.pathListSeparator }}'
PYTHONPATH = '{{ .chezmoi.workingTree }}'

[github]
refreshPeriod = "5m"

{{ if $os | eq "windows" -}}
[interpreters.""]
command = "shebang"
{{ end -}}
