# apt packages hash: {{ .packages.apt | toString | sha256sum }}

$CHEZ_SUDO apt update -y
AVAILABLE_PACKAGES=$(
  comm -12 \
    <(apt-cache pkgnames | sort) \
    <(echo "{{ join "\n" .packages.apt }}" | sort)
)
$CHEZ_SUDO apt install -y $AVAILABLE_PACKAGES
