{
  "version": "1.70.0",
  "userSettings": {
    "cloudStorageEnabled": true,
    "contextMenuEnabled": false,
    "externalLists": "https://raw.githubusercontent.com/gijsdev/ublock-hide-yt-shorts/master/list.txt",
    "importedLists": [
      "https://raw.githubusercontent.com/gijsdev/ublock-hide-yt-shorts/master/list.txt"
    ],
    "showIconBadge": false
  },
  "selectedFilterLists": [
    "user-filters",
    "ublock-filters",
    "ublock-badware",
    "ublock-privacy",
    "ublock-quick-fixes",
    "ublock-unbreak",
    "easylist",
    "easyprivacy",
    "urlhaus-1",
    "plowe-0",
    "fanboy-cookiemonster",
    "ublock-cookies-easylist",
    "adguard-cookies",
    "ublock-cookies-adguard",
    "fanboy-social",
    "adguard-social",
    "fanboy-thirdparty_social",
    "fanboy-ai-suggestions",
    "easylist-chat",
    "easylist-newsletters",
    "easylist-notifications",
    "easylist-annoyances",
    "adguard-mobile-app-banners",
    "adguard-other-annoyances",
    "adguard-popup-overlays",
    "adguard-widgets",
    "ublock-annoyances",
    {{- if .isPersonal }}"BGR-0",{{ end }}
    "https://raw.githubusercontent.com/gijsdev/ublock-hide-yt-shorts/master/list.txt"
  ],
  "whitelist": [
    "chrome-extension-scheme",
    "moz-extension-scheme"
  ],
  "userFilters": ""
}
