# vim: filetype=py

from json import dumps as json_dumps
from json import loads as json_loads
from pathlib import Path
from sqlite3 import connect as sqlite3_connect
from typing import Literal

from xbmc import (
    LOGDEBUG,
    LOGERROR,
    LOGINFO,
    LOGWARNING,
    executebuiltin,
    executeJSONRPC,
    log,
)
from xbmcaddon import Addon
from xbmcgui import DLG_YESNO_YES_BTN, Dialog
from xbmcvfs import translatePath

type KodiSettingsValue = list[str] | str | int | bool

ADDON = Addon()
ADDON_ID = ADDON.getAddonInfo("id")
ADDON_NAME = ADDON.getAddonInfo("name")


def main() -> None:
    kodi_log("Starting bootstrap ...")

    kodi_log("Allowing installing addons from ZIP files.")
    kodi_set_setting("addons.unknownsources", True)

    kodi_log("Allow file deletion in file lists.")
    kodi_set_setting("filelists.allowfiledeletion", True)

    kodi_log("Changing locale.")
    kodi_set_setting("locale.country", "Central Europe")

    kodi_log("Setting device name.")
    kodi_set_setting("services.devicename", "{{ .distro }}-{{ .chezmoi.hostname }}")

    kodi_log("Disabling browsing of SMB network folders.")
    kodi_set_setting("services.wsdiscovery", False)

    kodi_log("Autoselecting the first unwatched item for TV shows.")
    kodi_set_setting("videolibrary.tvshowsselectfirstunwatcheditem", 2)

    kodi_log("Hiding plot and episode's thumbnail for unwatched items.")
    kodi_set_setting("videolibrary.showunwatchedplots", [])

    configure_video_library()

    if not install_missing_addons():
        kodi_log("Aborting bootstrap because of missing addons.")
        return

    configure_elementum()
    configure_unpause_jumpback()

    kodi_log("Finished bootstrap.")


def configure_video_library() -> None:
    kodi_log("Configuring video library ...")

    db_matches = tuple(Path(translatePath("special://database")).glob("MyVideos*.db"))

    if len(db_matches) != 1:
        kodi_log(f"Expected only one MyVideos*.db file, found '{db_matches}'.")
        return

    my_videos_db = db_matches[0]
    kodi_log(f"Detected video database: '{my_videos_db}'.")

    kodi_configure_db_myvideos(
        db=my_videos_db,
        path="special://temp/elementum_library/Movies/",
        content="movies",
        scraper="metadata.themoviedb.org.python",
    )

    kodi_configure_db_myvideos(
        db=my_videos_db,
        path="special://temp/elementum_library/Shows/",
        content="tvshows",
        scraper="metadata.tvshows.themoviedb.org.python",
    )

    kodi_log("Video library configured.")


def configure_elementum() -> None:
    kodi_log("Configuring Elementum ...")

    elementum_download_path = Path.home() / "Videos/Kodi"
    kodi_log(f"Creating download path: '{elementum_download_path}'.")
    elementum_download_path.mkdir(parents=True, exist_ok=True)

    elementum = Addon("plugin.video.elementum")

    kodi_log("Setting download path.")
    elementum.setSetting("download_path", f"{elementum_download_path}/")

    kodi_log("Setting storage type to files.")
    elementum.setSetting("download_storage", "0")

    kodi_log("Disabling Elementum greeting notification.")
    elementum.setSetting("greeting_enabled", "false")

    kodi_log("Enabling seeding forever.")
    elementum.setSetting("seed_forever", "true")

    kodi_log("Disabling Elementum's own Burst check.")
    elementum.setSetting("skip_burst_search", "true")

    kodi_log("Elementum configured.")


def configure_unpause_jumpback() -> None:
    kodi_log("Configuring Unpause Jumpback ...")
    unpause_jumpback = Addon("script.xbmc.unpausejumpback")

    kodi_log("Setting jump back seconds.")
    unpause_jumpback.setSetting("jumpbacksecs", "2")

    kodi_log("Setting minimum pause duration for jump back.")
    unpause_jumpback.setSetting("waitforjumpback", "0")

    kodi_log("Unpause Jumpback configured.")


def install_missing_addons() -> bool:
    kodi_log("Installing missing addons ...")

    repo_addons = kodi_get_addons(installed="all")

    for addon in kodi_get_addon_dependencies() - kodi_get_addons():
        kodi_log(f"Trying to install '{addon}' automatically ...")

        if addon not in repo_addons:
            kodi_log(f"Skipping '{addon}' as it is not in any repository.")
            continue

        executebuiltin(f"InstallAddon({addon})", wait=True)

    if len(kodi_get_addon_dependencies() - kodi_get_addons()) == 0:
        kodi_log("All addon dependencies are installed.")
        return True

    for addon in kodi_get_addon_dependencies() - kodi_get_addons():
        kodi_log(f"Trying to install '{addon}' manually ...")

        if not Dialog().yesno(
            heading=f"{ADDON_NAME} - Missing Addon",
            message=f"Do you want to install [B]{addon}[/B]?",
            defaultbutton=DLG_YESNO_YES_BTN,
        ):
            kodi_log("Skipping file picker.")
            return False

        Dialog().notification(
            heading="Choose this file:",
            message=f"[B]Chezmoi/{addon}.zip[/B]",
            time=10000,  # [ms]
        )

        kodi_log("Opening file picker ...")
        executebuiltin("InstallFromZip", wait=True)

        kodi_log("File picker closed.")
        executebuiltin("Dialog.Close(notification)")

    return True


def kodi_configure_db_myvideos(
    db: Path,
    path: str,
    content: Literal["movies", "tvshows"],
    scraper: str,
) -> None:

    parameters = {
        "strPath": path,
        "strContent": content,
        "strScraper": scraper,
        "scanRecursive": 2**31 - 1,  # Kodi sets this value by default.
    }

    kodi_log(f"Configuring '{path}' ...")

    with sqlite3_connect(db, autocommit=True) as connection:
        existing = connection.execute(  # sql
            "SELECT idPath FROM path WHERE strPath == :strPath;",
            parameters,
        )

        if existing.fetchone() is not None:
            kodi_log(f"'{path}' is already configured.")
            return

        connection.execute(  # sql
            """INSERT INTO path (strPath, strContent, strScraper, scanRecursive)
               VALUES (:strPath, :strContent, :strScraper, :scanRecursive);""",
            parameters,
        )


def kodi_get_addon_dependencies(addon_id: str = ADDON_ID) -> set[str]:
    response = kodi_rpc(
        method="Addons.GetAddonDetails",
        params={"addonid": addon_id, "properties": ["dependencies"]},
    )
    response_dict = json_loads(response)

    dependencies: set[str] = {
        dependency["addonid"]
        for dependency in response_dict["result"]["addon"]["dependencies"]
    }
    dependencies.discard("xbmc.python")

    return dependencies


def kodi_get_addons(installed: bool | Literal["all"] = True) -> set[str]:
    response = kodi_rpc("Addons.GetAddons", {"installed": installed})
    kodi_log(f"Addons.GetAddons(installed={installed})='{response}'", LOGDEBUG)

    response_dict = json_loads(response)
    return {addon["addonid"] for addon in response_dict["result"]["addons"]}


def kodi_log(message: str, level: int = LOGINFO) -> None:
    log(f"[{ADDON_ID}] {message}", level)


def kodi_rpc(method: str, params: dict[str, KodiSettingsValue]) -> str:
    payload = json_dumps(
        {
            "jsonrpc": "2.0",
            "id": 1,
            "method": method,
            "params": params,
        }
    )

    return executeJSONRPC(payload)


def kodi_set_setting(key: str, value: KodiSettingsValue) -> bool:
    response = kodi_rpc("Settings.SetSettingValue", {"setting": key, "value": value})
    kodi_log(f"Settings.SetSettingValue({key}={value})='{response}'", LOGDEBUG)

    response_dict = json_loads(response)
    call_signature = f"Settings.SetSettingValue({key}={value})"

    if isinstance(result := response_dict.get("result"), bool):
        if result is False:
            kodi_log(f"{call_signature}: failed", LOGWARNING)

        return result

    if error := response_dict.get("error"):
        kodi_log(f"{call_signature}: {error}", LOGERROR)
        return False

    kodi_log(f"{call_signature}: unexpected RPC response", LOGWARNING)
    return False


if __name__ == "__main__":
    main()
