# vim: filetype=py

# chezmoi:template:left-delimiter="# {{"

from json import dumps as json_dumps
from json import loads as json_loads
from pathlib import Path

from xbmc import LOGINFO, executebuiltin, executeJSONRPC, log
from xbmcaddon import Addon
from xbmcgui import DLG_YESNO_YES_BTN, Dialog

type KodiSettingsValue = list[str] | str | int | bool | None

ADDON = Addon()
ADDON_ID = ADDON.getAddonInfo("id")
ADDON_NAME = ADDON.getAddonInfo("name")


def main() -> None:
    kodi_log("Started.")

    kodi_log("Allowing installing addons from ZIP files.")
    set_setting("addons.unknownsources", True)

    kodi_log("Allow file deletion in file lists.")
    set_setting("filelists.allowfiledeletion", True)

    kodi_log("Changing locale.")
    set_setting("locale.country", "Central Europe")

    kodi_log("Setting device name.")
    set_setting("services.devicename", "# {{ .distro }}-# {{ .chezmoi.hostname }}")

    kodi_log("Disabling browsing of SMB network folders.")
    set_setting("services.wsdiscovery", False)

    kodi_log("Autoselecting the first unwatched item for TV shows.")
    set_setting("videolibrary.tvshowsselectfirstunwatcheditem", 2)

    kodi_log("Hiding plot and episode's thumbnail for unwatched items.")
    set_setting("videolibrary.showunwatchedplots", None)

    missing_dependencies = get_addon_dependencies(ADDON_ID) - get_installed_addons()

    if missing_dependencies:
        kodi_log(f"Missing deps: '{' '.join(missing_dependencies)}'.")

        open_picker = Dialog().yesno(
            heading=ADDON_NAME,
            message=(
                "The following addons are missing:"
                f"\n{'\n'.join(missing_dependencies)}."
                "\nDo you want to install them now?"
                "\n(look inside 'Chezmoi' in the file picker)"
            ),
            defaultbutton=DLG_YESNO_YES_BTN,
        )

        if open_picker:
            kodi_log("Opening file picker ...")
            executebuiltin("InstallFromZip")
        else:
            kodi_log("Skipping file picker ...")
    else:
        configure_elementum()

    kodi_log("Finished.")


def configure_elementum() -> None:
    kodi_log("Configuring Elementum ...")
    elementum = Addon("plugin.video.elementum")

    kodi_log("Setting storage type to files.")
    elementum.setSetting("download_storage", "0")
    kodi_log("Setting download path.")
    elementum.setSetting("download_path", f"{Path.home() / 'Videos/Kodi'}/")
    kodi_log("Enabling seeding forever.")
    elementum.setSetting("seed_forever", "true")

    kodi_log("Elementum configured.")


def get_addon_dependencies(addon_id: str) -> set[str]:
    rpc_response = json_rpc(
        method="Addons.GetAddonDetails",
        params={"addonid": addon_id, "properties": ["dependencies"]},
    )
    response_dict = json_loads(rpc_response)
    return {
        dependency["addonid"]
        for dependency in response_dict["result"]["addon"]["dependencies"]
        if not dependency["addonid"].startswith("xbmc.")
    }


def get_installed_addons() -> set[str]:
    rpc_response = json_rpc(method="Addons.GetAddons", params={})
    response_dict = json_loads(rpc_response)
    return {addon["addonid"] for addon in response_dict["result"]["addons"]}


def json_rpc(method: str, params: dict[str, KodiSettingsValue]) -> str:
    payload = json_dumps(
        {
            "jsonrpc": "2.0",
            "id": 1,
            "method": method,
            "params": params,
        }
    )

    return executeJSONRPC(payload)


def kodi_log(message: str, level: int = LOGINFO) -> None:
    log(f"[{ADDON_ID}] {message}", level)


def set_setting(key: str, value: KodiSettingsValue) -> None:
    json_rpc(
        method="Settings.SetSettingValue",
        params={"setting": key, "value": value},
    )


if __name__ == "__main__":
    main()
