"""Install packages using `scoop`."""

# vim: filetype=py

# /// script
# requires-python = ">=3.9"
# dependencies = ["requests", "rich"]
# ///

# chezmoi:template:left-delimiter="# {{"
# {{ if ne .os "windows" -}}
# {{   abortEmpty -}}
# {{ end -}}

from ctypes import WinDLL
from os import getenv
from pathlib import Path
from shutil import which
from subprocess import run

from requests import get as requests_get
from rich import print as rich_print


def is_admin() -> bool:
    """Check if the current process is running with admin privileges."""
    return WinDLL("shell32").IsUserAnAdmin() == 1


def install_scoop() -> None:
    """Install Scoop using the official installer script."""
    scoop_script = Path.home() / ".cache" / "scoop-installer.ps1"
    scoop_response = requests_get("https://get.scoop.sh", timeout=10)
    scoop_script.write_bytes(scoop_response.content)

    cmd = ["powershell", "-NoProfile", "-File", scoop_script]
    if is_admin():
        cmd.append("-RunAsAdmin")

    run(cmd, check=True)


BUCKETS_DIR = Path.home() / "scoop" / "buckets"
BUCKETS = (
    ("extras", ""),
    ("sysinternals", ""),
    ("versions", ""),
    ("iliya", "https://github.com/iliqiliev/iliya-bucket"),
)
CHEZ_SUDO = getenv("CHEZ_SUDO")
NEED_SUDO_PACKAGES = ("vcredist-aio", "virtio-guest-tools")
SCOOP = "scoop.cmd"


if which(SCOOP) is None:
    rich_print("[bright_blue]Scoop not found. Installing it ...")
    install_scoop()
else:
    rich_print("[bright_blue]Updating 'scoop' buckets ...")
    run((SCOOP, "update"), check=True)
    rich_print("[bright_blue]'scoop' buckets updated successfully.")

rich_print("[bright_blue]Setting up 'scoop' buckets ...")

if which("git") is None:
    rich_print("[bright_blue]Git not found. Installing it ...")
    run((SCOOP, "install", "--no-update-scoop", "git"), check=True)
    rich_print("[bright_green]Git installed successfully.")

for bucket in BUCKETS:
    name, url = bucket

    if (BUCKETS_DIR / name).is_dir():
        rich_print(f"[bright_green]The '{name}' bucket exists already.")
        continue

    run((SCOOP, "bucket", "add", name, url), check=True)

rich_print("[bright_green]'scoop' buckets added successfully.")

all_packages = {package.name for package in BUCKETS_DIR.glob("*/bucket/*.json")}
needed_packages = set("# {{ template `packages` . }}".split())  # noqa: SIM905

available_packages = needed_packages.intersection(all_packages)

user_packages = available_packages.difference(NEED_SUDO_PACKAGES)
sudo_packages = available_packages.intersection(NEED_SUDO_PACKAGES)

if user_packages:
    rich_print("[bright_blue]Installing 'scoop' packages ...")
    run((SCOOP, "install", "--no-update-scoop", *user_packages), check=True)
    rich_print("[bright_green]Packages installed successfully.")

if sudo_packages and CHEZ_SUDO != "false":
    rich_print("[bright_blue]Installing packages that require admin privileges ...")
    cmd = [SCOOP, "install", "--no-update-scoop", *sudo_packages]
    if CHEZ_SUDO:
        cmd.insert(0, CHEZ_SUDO)
    run(cmd, check=True)
    rich_print("[bright_green]Admin packages installed successfully")
