#!/usr/bin/env bash
# vim: filetype=sh

# chezmoi:template:left-delimiter="# {{"
# {{ if not .manageGnome -}}
# {{   abortEmpty -}}
# {{ end -}}

set -eu

# shellcheck source=helpers/helpers.sh
source "$CHEZMOI_WORKING_TREE"/helpers/helpers.sh

print_blue "Setting up GNOME extensions ..."

if ! command -v gnome-extensions-cli >/dev/null; then
    print_blue "'gnome-extensions-cli' is not installed. Installing it ..."

    if ! uv tool install gnome-extensions-cli --with "pygobject" 2>/dev/null; then
        print_yellow "Failed to install 'gnome-extensions-cli' with DBus backend."
        print_blue "Trying with filesystem backend ..."
        uv tool install gnome-extensions-cli
    fi

    print_green "'gnome-extensions-cli' installed successfully."
fi

if gnome-extensions-cli --dbus &>/dev/null; then
    gext_args=("--dbus")
else
    gext_args=("--filesystem")
fi

extensions=(
    "AlphabeticalAppGrid@stuarthayhurst"          # Alphabetical App Grid
    "app-hider@lynith.dev"                        # App Hider
    "appindicatorsupport@rgcjonas.gmail.com"      # AppIndicator and KStatusNotifierItem Support
    "copyous@boerdereinar.dev"                    # Copyous
    "disable-menu-switching@selfmade.pl"          # Disable Menu Switching
    "fq@megh"                                     # Force Quit
    "middleclickclose@paolo.tranquilli.gmail.com" # Quick Close in Overview
    "panelScroll@sun.wxg@gmail.com"               # Panel Scroll
    "tiling-assistant@leleat-on-github"           # Tiling Assistant
)

gnome-extensions-cli "${gext_args[@]}" install "${extensions[@]}"

if test "${gext_args[0]}" = "--filesystem"; then
    print_yellow "Re-log to apply changes."
fi

print_green "GNOME extensions set up successfully."
