# {{ print "#!" (lookPath "bash") }}
# vim: filetype=sh

# chezmoi:template:left-delimiter="# {{"
# {{ if or (.os | ne "linux") (not .canSudo) -}}
# {{   abortEmpty -}}
# {{ end -}}

set -eu

# shellcheck source=helpers/helpers.sh
source "$CHEZMOI_WORKING_TREE"/helpers/helpers.sh

USER=$(id -un)

function main() {
    service_kmsconvt
    service_scx_loader
    service_virtualbox
}

function service_kmsconvt() {
    test -f "/usr/lib/systemd/system/kmsconvt@.service" || return 0

    print_blue "Setting up 'KMSCON' service ..."

    $CHEZ_SUDO systemctl disable getty@.service
    $CHEZ_SUDO systemctl enable kmsconvt@.service

    $CHEZ_SUDO systemctl disable kmsconvt@tt1.service
    $CHEZ_SUDO systemctl enable getty@tty1.service

    print_green "'KMSCON' service set up successfully."
}

function service_scx_loader() {
    test -f "/usr/lib/systemd/system/scx_loader.service" || return 0

    print_blue "Setting up 'Sched_ext' service ..."
    $CHEZ_SUDO tee /etc/scx_loader.toml <<EOF >/dev/null
default_sched = "scx_lavd"
default_mode = "Gaming"

[scheds.scx_lavd]
auto_mode = []
gaming_mode = ["--performance"]
lowlatency_mode = ["--performance"]
powersave_mode = ["--powersave"]
server_mode = []
EOF

    $CHEZ_SUDO systemctl enable --now scx_loader
    print_green "'Sched_ext' service set up successfully."
}

function service_virtualbox() {
    if test -v "container" || test '# {{ .productName }}' != "VirtualBox"; then
        return 0
    fi

    print_blue "Setting up 'VirtualBox' service ..."
    service_virtualbox_systemd || service_virtualbox_openrc
    print_green "'VirtualBox' service set up successfully."

    if ! id --groups --name | grep --quiet --word-regexp "vboxsf"; then
        print_blue -n "Adding user to 'vboxsf' group ..."
        $CHEZ_SUDO usermod -aG "vboxsf" "$USER"
        print_green "OK"
    fi

    print_blue -n "Starting 'VirtualBox' user session services ..."
    if ! VBoxClient-all >/dev/null; then
        echo
        print_yellow "Failed to start 'VirtualBox' user session services."
    else
        print_green "OK"
    fi
}

function service_virtualbox_systemd() {
    test -f /usr/lib/systemd/system/vboxservice.service || return 1
    $CHEZ_SUDO systemctl enable --now "vboxservice.service"
}

function service_virtualbox_openrc() {
    test -f /etc/init.d/virtualbox-guest-additions || return 1
    $CHEZ_SUDO rc-service virtualbox-guest-additions start
    $CHEZ_SUDO rc-update add virtualbox-guest-additions boot

    test -f /etc/init.d/virtualbox-drm-client || return 0
    $CHEZ_SUDO rc-service virtualbox-drm-client start
    $CHEZ_SUDO rc-update add virtualbox-drm-client default
}

main
