#!/usr/bin/env sh
# vim: filetype=py

# chezmoi:template:left-delimiter="# {{"
# {{ if or (not (lookPath "apk")) (.sudo | eq "false") -}}
# {{   abortEmpty -}}
# {{ end -}}

"exec" "uv" "run" "-qsw" "rich" "$0"  # fmt: skip

"""Install packages using `apk`.
On `Alpine` the `env` utility does not support the `-S` flag.
This explains the shebang and the line above.
"""

from shutil import which
from subprocess import PIPE, run
from typing import Literal

from rich import print as rich_print

SUDO: Literal["", "sudo"] = "# {{ .sudo }}"  # ty: ignore[invalid-assignment]


if which("setup-apkrepos") is not None:
    rich_print("[bright_blue]Adding community repository ...[/]")
    cmd = (SUDO, "setup-apkrepos", "-c", "-1")
    run(tuple(filter(None, cmd)), check=True)
    rich_print("[bright_green]Community repository added successfully.[/]")

rich_print("[bright_blue]Syncing apk database ...[/]")
cmd = (SUDO, "apk", "update")
run(tuple(filter(None, cmd)), check=True)
rich_print("[bright_green]Apk database synced successfully.[/]")

available_packages = set(
    run(("apk", "search", "--quiet"), check=True, stdout=PIPE).stdout.decode().split(),
).intersection(
    '# {{ template "packages" . }}'.split(),  # noqa: SIM905
)

rich_print("[bright_blue]Installing apk packages ...[/]")
cmd = (SUDO, "apk", "add", *available_packages)
run(tuple(filter(None, cmd)), check=True)
rich_print("[bright_green]Packages installed successfully.[/]")
