"""Install packages using `scoop`."""

# vim: filetype=py

# /// script
# requires-python = ">=3.12"
# dependencies = ["requests", "rich"]
# ///

# chezmoi:template:left-delimiter="# {{"
# {{ if ne .os "windows" -}}
# {{   abortEmpty -}}
# {{ end -}}

from ctypes import WinDLL
from pathlib import Path
from subprocess import run
from typing import cast

from requests import get as requests_get
from rich import print as rich_print


def check_installed(packages: set[str]) -> bool:
    """Check if the `packages` are installed."""
    missing = {name for name in packages if not (SCOOP_APPS / name).is_dir()}

    if not missing:
        return True

    rich_print(f"[bright_red]The following are missing: {' '.join(sorted(missing))}")
    return False


def is_admin() -> bool:
    """Check if the current process is running with admin privileges."""
    return cast("int", WinDLL("shell32").IsUserAnAdmin()) == 1


def install_scoop() -> None:
    """Install `Scoop` using the official installer script."""
    scoop_script = HOME / ".cache/scoop-installer.ps1"
    scoop_response = requests_get("https://get.scoop.sh", timeout=10)
    scoop_script.write_bytes(scoop_response.content)

    run_as_admin = "-RunAsAdmin" if is_admin() else None
    cmd = ("powershell", "-NoProfile", "-File", scoop_script, run_as_admin)
    run(tuple(filter(None, cmd)), check=True)


HOME = Path.home()
SCOOP = HOME / "scoop/shims/scoop.cmd"
SCOOP_APPS = HOME / "scoop/apps"
SCOOP_BUCKETS = HOME / "scoop/buckets"

GSUDO = SCOOP_APPS / "gsudo/current/gsudo.exe"
NEED_SUDO_PACKAGES = ("vcredist-aio", "virtio-guest-tools")
BUCKETS = (
    ("extras", None),
    ("sysinternals", None),
    ("versions", None),
    ("iliya", "https://github.com/iliqiliev/iliya-bucket"),
)


if SCOOP.exists():
    rich_print("[bright_blue]Updating 'scoop' buckets ...")
    run((SCOOP, "update"), check=True)
    rich_print("[bright_blue]'scoop' buckets updated successfully.")
else:
    rich_print("[bright_blue]Scoop not found. Installing it ...")
    install_scoop()

rich_print("[bright_blue]Setting up 'scoop' buckets ...")

if not (HOME / "scoop/apps/git/current/cmd/git.exe").exists():
    rich_print("[bright_blue]Git not found. Installing it ...")
    run((SCOOP, "install", "--no-update-scoop", "git"), check=True)
    rich_print("[bright_green]Git installed successfully.")

for bucket_url in BUCKETS:
    bucket, url = bucket_url

    if (SCOOP_BUCKETS / bucket).is_dir():
        rich_print(f"[bright_green]The '{bucket}' bucket exists already.")
        continue

    cmd = (SCOOP, "bucket", "add", bucket, url)
    run(tuple(filter(None, cmd)), check=True)

rich_print("[bright_green]'scoop' buckets added successfully.")

all_packages = {package.stem for package in SCOOP_BUCKETS.glob("*/bucket/*.json")}
needed_packages: set[str] = set("# {{ template `packages` . }}".split())  # noqa: SIM905

available_packages = needed_packages.intersection(all_packages)

user_packages = available_packages.difference(NEED_SUDO_PACKAGES)
sudo_packages = available_packages.intersection(NEED_SUDO_PACKAGES)

if user_packages:
    rich_print("[bright_blue]Installing 'scoop' packages ...")

    run((SCOOP, "install", "--no-update-scoop", *sorted(user_packages)), check=True)
    if check_installed(user_packages) is False:
        raise SystemExit(1)

    rich_print("[bright_green]Packages installed successfully.")

# {{ if .canSudo -}}
if sudo_packages:
    rich_print("[bright_blue]Installing packages that require admin privileges ...")

    cmd = (GSUDO, SCOOP, "install", "--no-update-scoop", *sorted(sudo_packages))
    run(cmd, check=True)
    if check_installed(sudo_packages) is False:
        raise SystemExit(1)

    rich_print("[bright_green]Admin packages installed successfully")
# {{ end -}}
