"""Test."""

# vim: filetype=py

# chezmoi:template:left-delimiter="# {{"
# {{ if or (not (lookPath "uv")) (eq .distro "android") -}}
# {{   abortEmpty -}}
# {{ end -}}

from shutil import which
from subprocess import DEVNULL, run
from sys import exit as sys_exit

from helpers import print_blue, print_green, print_red, print_yellow

print_blue("Installing development tools using 'mise' ...")

if which("mise") is None:
    print_red("'mise' is not installed. Abborting ...")
    sys_exit(0)

print_blue("Checking for new 'mise' version ...")

old_version = run(("mise", "version"), capture_output=True).stdout.decode().rstrip()
# Trigger weekly script re-run by using the week number: # {{ div now.YearDay 7 }}
run(("mise", "self-update", "--yes"), stdout=DEVNULL, check=True)
new_version = run(("mise", "version"), capture_output=True).stdout.decode().rstrip()

if old_version == new_version:
    print_green(f"'mise' is already up to date: {old_version}")
else:
    print_green("'mise' updated successfully.")
    print_yellow(f"Old: {old_version}")
    print_green(f"New: {new_version}")

# Trigger re-run on config change by hashing the config file:
# # {{ include "private_dot_config/mise/config.toml" | sha256sum }}
run(("mise", "bootstrap"), check=True)

print_green("Development tools installed successfully.")
