#!/usr/bin/env -S uv run -qsw rich
# vim: filetype=py

# chezmoi:template:left-delimiter="# {{"
# {{ if ne .distro "android" -}}
# {{   abortEmpty -}}
# {{ end -}}

from contextlib import suppress
from filecmp import cmp
from os import environ as env
from pathlib import Path
from subprocess import run
from time import monotonic, sleep

from rich import print as rich_print

HOME = Path.home()
CHEZMOI_HOME = Path(env["CHEZMOI_WORKING_TREE"]) / "root/home/$USER"
TERMUX_STORAGE = HOME / "storage/shared"
TIMEOUT = 15


if not TERMUX_STORAGE.is_symlink():
    rich_print("[bright_blue]Setting up Termux storage ...[/]")

    run("termux-setup-storage", check=True)

    deadline = monotonic() + TIMEOUT
    rich_print("[bright_blue]Waiting for permission pop-up to be accepted ...[/]")

    while not TERMUX_STORAGE.is_symlink():
        if monotonic() > deadline:
            rich_print(f"[bright_red]Timed out after {TIMEOUT} seconds.[/]")
            raise SystemExit(1)
        sleep(500e-3)

    rich_print("[bright_green]Termux storage setup successfully.[/]")


# Re-trigger script if any file inside `termux` changes:
# # {{ template "hashDirectory" (joinPath .chezmoi.workingTree "termux") }}

for source_file in CHEZMOI_HOME.rglob("*"):
    if not source_file.is_file():
        continue

    destination_file = HOME / source_file.relative_to(CHEZMOI_HOME)

    with suppress(FileNotFoundError):
        if cmp(source_file, destination_file, shallow=False):
            continue

    destination_file_link = f"[link={destination_file.as_uri()}]{destination_file}[/]"
    rich_print(f"[bright_blue]Writing to '{destination_file_link}' ...[/]", end=" ")

    source_file.copy(destination_file)
    rich_print("[bright_green]OK[/]")
