#!/usr/bin/env -S uv run -qsw rich
# vim: filetype=python

# chezmoi:template:left-delimiter="# {{"
# {{ if or (not (lookPath "pacman")) (eq .sudo "false") -}}
# {{   abortEmpty -}}
# {{ end -}}

from pathlib import Path
from shutil import which

from helpers import CHEZMOI_PACKAGES, DEVNULL, PIPE, SUDO, fmt, run

CHAOTIC_KEY = "3056513887B78AEB"
CHAOTIC_CDN = "https://cdn-mirror.chaotic.cx/chaotic-aur"
CHAOTIC_CONFIG_ENTRY = """
[chaotic-aur]
Include = /etc/pacman.d/chaotic-mirrorlist
"""


def main() -> None:
    install_chaotic_aur()
    install_yay()

    yay_args = ("--color=auto", "--needed", "--noconfirm")

    fmt("[info]Updating system to avoid dependency mismatches ...")
    run("yay -Syu", *yay_args)
    fmt("[good]System updated successfully.")

    available_packages = CHEZMOI_PACKAGES.intersection(
        run("pacman -Slq", out=PIPE).stdout.split()
    )

    fmt("[info]Installing pacman packages ...")
    run("yay -S --asexplicit", *yay_args, *available_packages)
    fmt("[good]Packages installed successfully.")


def install_chaotic_aur() -> None:
    if Path("/etc/pacman.conf").read_text().find(CHAOTIC_CONFIG_ENTRY.strip()) != -1:
        return

    packages = (
        f"{CHAOTIC_CDN}/{package}.pkg.tar.zst"
        for package in ("chaotic-keyring", "chaotic-mirrorlist")
    )

    fmt("[info]Installing Chaotic-AUR ...")

    run(SUDO, "pacman-key --init", err=DEVNULL)
    run(SUDO, "pacman-key --recv-key", CHAOTIC_KEY, err=DEVNULL)
    run(SUDO, "pacman-key --lsign-key", CHAOTIC_KEY, err=DEVNULL)

    run(SUDO, "pacman -U --noconfirm", *packages)
    run(SUDO, "tee --append /etc/pacman.conf", input=CHAOTIC_CONFIG_ENTRY, out=DEVNULL)
    run(SUDO, "pacman -Sy --noconfirm")

    fmt("[good]Chaotic-AUR installed successfully.")


def install_yay() -> None:
    if which("yay") is not None:
        return

    fmt("[info]Installing [i]yay[/] AUR helper ...")
    run(SUDO, "pacman -S --noconfirm yay")
    fmt("[good]Yay installed successfully.")


if __name__ == "__main__":
    main()
