#!/usr/bin/env -S uv run -qsw rich
# vim: filetype=python

# chezmoi:template:left-delimiter="# {{"
# {{ if or (ne .os "linux") (eq .distro "android") -}}
# {{   abortEmpty -}}
# {{ end -}}

from getpass import getuser
from pathlib import Path
from pwd import getpwnam

from helpers import DEVNULL, fmt, run

FISH = "/usr/bin/fish"
USER = getuser()


fmt("[info]Changing default shell to [i]fish[/] ...", end=" ")

if getpwnam(USER).pw_shell == FISH:
    fmt("[good]OK")
    raise SystemExit(0)

if FISH not in set(Path("/etc/shells").read_text().split()):
    fmt("[fail][i]fish[/] is not listed in [i]/etc/shells[/].")
    raise SystemExit(1)

if USER != "root":
    fmt(f"\n[info]Enter [i]{USER}[/]'s password:", end=" ")

run("chsh --shell", FISH, USER, out=DEVNULL, err=DEVNULL)

fmt("[good]OK")
