#!/usr/bin/env -S uv run -qsw rich
# vim: filetype=py

# chezmoi:template:left-delimiter="# {{"
# {{ if or (not (lookPath "pacman")) (eq .sudo "false") -}}
# {{   abortEmpty -}}
# {{ end -}}

from pathlib import Path
from shutil import which
from subprocess import DEVNULL, PIPE, run
from typing import Literal

from rich import print as rich_print

SUDO: Literal["", "sudo"] = "# {{ .sudo }}"  # ty: ignore[invalid-assignment]
CHAOTIC_KEY = "3056513887B78AEB"
CHAOTIC_CDN = "https://cdn-mirror.chaotic.cx/chaotic-aur"
CHAOTIC_CONFIG_ENTRY = """
[chaotic-aur]
Include = /etc/pacman.d/chaotic-mirrorlist
"""


def main() -> None:
    install_chaotic_aur()
    install_yay()

    yay_args = ("--color=auto", "--needed", "--noconfirm")

    rich_print("[bright_blue]Updating system to avoid dependency mismatches ...[/]")
    run(("yay", "-Syu", *yay_args), check=True)
    rich_print("[bright_green]System updated successfully.[/]")

    available_packages = set(
        run(("pacman", "-Slq"), check=True, stdout=PIPE).stdout.decode().split(),
    ).intersection(
        '# {{ template "packages" . }}'.split(),  # noqa: SIM905
    )

    rich_print("[bright_blue]Installing pacman packages ...[/]")
    run(("yay", "-S", *yay_args, "--asexplicit", *available_packages), check=True)
    rich_print("[bright_green]Packages installed successfully.[/]")


def install_chaotic_aur() -> None:
    if Path("/etc/pacman.conf").read_text().find(CHAOTIC_CONFIG_ENTRY.strip()) != -1:
        return

    rich_print("[bright_blue]Installing Chaotic-AUR ...[/]")

    cmd = (SUDO, "pacman-key", "--init")
    run(tuple(filter(None, cmd)), check=True, stderr=DEVNULL)

    cmd = (SUDO, "pacman-key", "--recv-key", CHAOTIC_KEY, "--keyserver", "keyserver.ubuntu.com")  # fmt: skip
    run(tuple(filter(None, cmd)), check=True, stderr=DEVNULL)
    cmd = (SUDO, "pacman-key", "--lsign-key", CHAOTIC_KEY)
    run(tuple(filter(None, cmd)), check=True, stderr=DEVNULL)

    packages = (
        f"{CHAOTIC_CDN}/{package}.pkg.tar.zst"
        for package in ("chaotic-keyring", "chaotic-mirrorlist")
    )
    cmd = (SUDO, "pacman", "-U", "--noconfirm", *packages)
    run(tuple(filter(None, cmd)), check=True)

    cmd = (SUDO, "tee", "--append", "/etc/pacman.conf")
    run(
        tuple(filter(None, cmd)),
        check=True,
        input=CHAOTIC_CONFIG_ENTRY,
        stdout=DEVNULL,
        text=True,
    )

    cmd = (SUDO, "pacman", "-Sy", "--noconfirm")
    run(tuple(filter(None, cmd)), check=True)

    rich_print("[bright_green]Chaotic-AUR installed successfully.[/]")


def install_yay() -> None:
    if which("yay") is not None:
        return

    rich_print("[bright_blue]Installing [i]yay[/] AUR helper ...[/]")
    cmd = (SUDO, "pacman", "-S", "--noconfirm", "yay")
    run(tuple(filter(None, cmd)), check=True)
    rich_print("[bright_green]Yay installed successfully.[/]")


if __name__ == "__main__":
    main()
