#!/usr/bin/env -S uv run -qsw rich
# vim: filetype=py

# chezmoi:template:left-delimiter="# {{"
# {{ if or (not (lookPath "dnf")) (eq .sudo "false") -}}
# {{   abortEmpty -}}
# {{ end -}}

from helpers import CHEZMOI_PACKAGES, SUDO, fmt, run

fmt("[info]Installing dnf packages ...")
run(SUDO, "dnf install --assumeyes --skip-unavailable", *CHEZMOI_PACKAGES)
fmt("[good]Packages installed successfully.")
