# {{ print "#!" (lookPath "env") }} -S uv run -qsw rich
# vim: filetype=py

# chezmoi:template:left-delimiter="# {{"
# {{ if or (not (lookPath "apt")) (.sudo | eq "false") -}}
# {{   abortEmpty -}}
# {{ end -}}

from subprocess import PIPE, run
from typing import Literal

from rich import print as rich_print

SUDO: Literal["", "sudo"] = "# {{ .sudo }}"  # ty: ignore[invalid-assignment]

rich_print("[bright_blue]Syncing apt databse ...")
cmd = (SUDO, "apt", "update", "-y")
run(tuple(filter(None, cmd)), check=True)
rich_print("[bright_green]Apt database synced successfully.")

# {{ if eq .distro "android" -}}
rich_print("[bright_blue]Updating system to avoid dependency mismatches ...")
run(
    (
        "apt",
        "full-upgrade",
        "--yes",
        "-o",
        "Dpkg::Options::=--force-confdef",
        "-o",
        "Dpkg::Options::=--force-confnew",
    ),
    check=True,
)
rich_print("[bright_green]Packages upgraded successfully.")
# {{ "\n" }}# {{ end -}}

available_packages = set(
    run(("apt-cache", "pkgnames"), stdout=PIPE).stdout.decode().split(),
).intersection(
    '# {{ template "packages" . }}'.split(),  # noqa: SIM905
)

rich_print("[bright_blue]Installing apt packages ...")
cmd = (SUDO, "apt", "install", "--yes", *available_packages)
run(tuple(filter(None, cmd)), check=True)
rich_print("[bright_green]Packages installed successfully.")
