#!/usr/bin/env -S uv run -qsw rich
# vim: filetype=py

# chezmoi:template:left-delimiter="# {{"
# {{ if ne .os "linux" -}}
# {{   abortEmpty -}}
# {{ end -}}
# Trigger this script if `~/.config/fish/fish_plugins` changes:
# # {{ include "private_dot_config/fish/fish_plugins" | sha256sum }}

from pathlib import Path

from helpers import DEVNULL, fmt, run

FISHER_PLUGINS = Path.home() / ".config/fish/fish_plugins"

plugin_count = len(FISHER_PLUGINS.read_text().splitlines())
fmt(f"[info]Installing {plugin_count} fisher plugins ...", end=" ")

run("fish -c 'fisher update'", out=DEVNULL)
fmt("[good]OK")
