# {{ print "#!" (lookPath "env") }} -S uv run -qsw rich
# vim: filetype=py

# chezmoi:template:left-delimiter="# {{"
# {{ if ne .distro "android" -}}
# {{   abortEmpty -}}
# {{ end -}}

from contextlib import suppress
from filecmp import cmp
from os import environ as env
from pathlib import Path
from shutil import which
from subprocess import run

from rich import print as rich_print

HOME = Path.home()
SOURCE = Path(env["CHEZMOI_WORKING_TREE"]) / "termux"


if not (HOME / "storage/shared").exists():
    rich_print("[bright_blue]Setting up Termux storage ...[/]")

    if which("termux-setup-storage") is None:
        rich_print("[bright_red][i]termux-setup-storage[/] command not found.[/]")
        raise SystemExit(1)

    run("termux-setup-storage", check=True)
    rich_print("[bright_green]Termux storage setup successfully.[/]")


# Re-trigger script if any file inside `termux` changes:
# # {{ includeTemplate "hashDirectory" (joinPath .chezmoi.workingTree "termux") }}

for source_file in SOURCE.rglob("*"):
    if not source_file.is_file():
        continue

    destination_file = HOME / source_file.relative_to(SOURCE)

    with suppress(FileNotFoundError):
        if cmp(source_file, destination_file, shallow=False):
            continue

    destination_file_link = f"[link={destination_file.as_uri()}]{destination_file}[/]"
    rich_print(f"[bright_blue]Writing to '{destination_file_link}' ...", end=" ")

    source_file.copy(destination_file)
    rich_print("[bright_green]OK")
