#!/usr/bin/env -S uv run -qsw rich,winrt-Windows.ApplicationModel,winrt-Windows.Foundation.Collections,winrt-Windows.Management.Deployment
# vim: filetype=python

# chezmoi:template:left-delimiter="# {{"
# {{ if ne .os "windows" -}}
# {{   abortEmpty -}}
# {{ end -}}

"""Debloat Windows."""

from asyncio import run as asyncio_run

from rich.prompt import Confirm
from winrt.windows.management.deployment import PackageManager

from helpers import fmt, restart_explorer

BLOAT_PACKAGES = {
    "Clipchamp.Clipchamp",
    "Microsoft.BingNews",
    "Microsoft.BingSearch",
    "Microsoft.BingWeather",
    "Microsoft.GetHelp",
    "Microsoft.MicrosoftSolitaireCollection",
    "Microsoft.MicrosoftStickyNotes",
    "Microsoft.PowerAutomateDesktop",
    "Microsoft.StartExperiencesApp",
    "Microsoft.Todos",
    "Microsoft.WidgetsPlatformRuntime",
    "Microsoft.Windows.DevHome",
    "Microsoft.WindowsAlarms",
    "Microsoft.WindowsFeedbackHub",
    "Microsoft.WindowsSoundRecorder",
    "Microsoft.YourPhone",
    "Microsoft.ZuneMusic",
    "MicrosoftCorporationII.QuickAssist",
    "MicrosoftWindows.Client.WebExperience",
}

DEEP_BLOAT_PACKAGES = {
    "Microsoft.Paint",
    "Microsoft.OutlookForWindows",
    "MSTeams",
}

SEPARATOR = "\n > "
PROMPT = f"""\
Perform deeper debloat?
This will remove the following packages:\
{SEPARATOR}{SEPARATOR.join(sorted(DEEP_BLOAT_PACKAGES))}
Accept?\
"""


async def main() -> None:
    """Debloat Windows."""
    package_manager = PackageManager()

    if Confirm.ask(PROMPT, default=False):
        BLOAT_PACKAGES.update(DEEP_BLOAT_PACKAGES)

    fmt("[info]Removing bloat packages ...")

    installed_packages = {
        pkg.id.name: pkg
        for pkg in package_manager.find_packages_by_user_security_id("")
    }

    removed: int = 0
    for package_name in sorted(BLOAT_PACKAGES):
        if (package := installed_packages.get(package_name)) is None:
            continue

        pretty_name = package.display_name
        fmt(f"[info]Removing [i]{pretty_name}[/] ...", end=" ")
        await package_manager.remove_package_async(package.id.full_name)

        fmt("[good]Done.")
        removed += 1

    fmt(f"[good]{len(BLOAT_PACKAGES)} packages checked.")

    if removed == 0:
        fmt("[good]No packages to debloat.")
        raise SystemExit(0)

    fmt(f"[good]{removed} packages debloated.")

    restart_explorer()


if __name__ == "__main__":
    asyncio_run(main())
