#!/usr/bin/env -S uv run -w rich
# vim: filetype=py

# chezmoi:template:left-delimiter="# {{"
# {{ if eq .distro "android" -}}
# {{   abortEmpty -}}
# {{ end -}}

# /// script
# dependencies = ["rich"]
# ///

"""Set up a development environment using `mise`."""

from shutil import which
from subprocess import DEVNULL, PIPE, run

from rich import print as rich_print

mise: str = "[i link=https://mise.jdx.dev/]mise[/]"


rich_print(f"[bright_blue]Installing development tools using {mise} ...")

if which("mise") is None:
    rich_print(f"[bright_red]{mise} is not installed. Exiting ...")
    raise SystemExit(1)

old_version = run(("mise", "version", "--quiet"), stdout=PIPE).stdout.decode().rstrip()
# Trigger weekly script re-run by using the week number: # {{ div now.YearDay 7 }}
run(("mise", "self-update", "--yes"), stdout=DEVNULL, check=True)
new_version = run(("mise", "version", "--quiet"), stdout=PIPE).stdout.decode().rstrip()

if old_version != new_version:
    rich_print(f"[bright_green]{mise} has been updated successfully.")
    rich_print(f"[bright_yellow]Old: [strike]{old_version}")
    rich_print(f"[bright_green]New: {new_version}")

# Trigger re-run on config change by hashing the config files' content:
# {{ $config_contents := "" -}}
# {{ range glob (joinPath .chezmoi.sourceDir "private_dot_config/mise/**") -}}
# {{   if ne (. | lstat).type "file" }}# {{ continue }}# {{ end -}}
# {{   $config_contents = print $config_contents (include .) -}}
# {{ end -}}
# # {{ $config_contents | sha256sum }}

cmd = ("mise", "bootstrap", "packages", "status", "--missing")
if run(cmd, stdout=DEVNULL).returncode != 0:
    rich_print(f"[bright_blue]Installing {mise} bootstrap packages ...")
    run(("mise", "bootstrap", "packages", "apply", "--yes"), check=True)
    rich_print("[bright_green]Bootstrap packages installed successfully.")

run(("mise", "install"), check=True)

rich_print("[bright_green]Development tools installed successfully.")
