#!/usr/bin/env sh
# vim: filetype=python

# chezmoi:template:left-delimiter="# {{"
# {{ if or (not (lookPath "apk")) (eq .sudo "false") -}}
# {{   abortEmpty -}}
# {{ end -}}

"exec" "uv" "run" "-qsw" "rich" "$0"  # fmt: skip

"""Install packages using `apk`.
On `Alpine` the `env` utility does not support the `-S` flag.
This explains the shebang and the line above.
"""

from shutil import which

from helpers import CHEZMOI_PACKAGES, PIPE, SUDO, fmt, run

if which("setup-apkrepos") is not None:
    fmt("[info]Adding community repository ...")
    run(SUDO, "setup-apkrepos -c -1")
    fmt("[good]Community repository added successfully.")

fmt("[info]Syncing apk database ...")
run(SUDO, "apk update")
fmt("[good]Apk database synced successfully.")

available_packages = CHEZMOI_PACKAGES.intersection(
    run("apk search --quiet", out=PIPE).stdout.split()
)

fmt("[info]Installing apk packages ...")
run(SUDO, "apk add", *available_packages)
fmt("[good]Packages installed successfully.")
