#!/usr/bin/env -S uv run -qsw rich
# vim: filetype=py

# chezmoi:template:left-delimiter="# {{"
# {{ if ne .os "linux" -}}
# {{   abortEmpty -}}
# {{ end -}}
# Trigger this script if `~/.config/fish/fish_plugins` changes:
# # {{ include "private_dot_config/fish/fish_plugins" | sha256sum }}

from pathlib import Path

from rich import print as rich_print

from helpers import DEVNULL, run

FISHER_PLUGINS = Path.home() / ".config/fish/fish_plugins"

plugin_count = len(FISHER_PLUGINS.read_text().splitlines())
rich_print(f"[bright_blue]Installing {plugin_count} fisher plugins ...[/]", end=" ")

run("fish -c 'fisher update'", out=DEVNULL)
rich_print("[bright_green]OK[/]")
