"""Find and update `Steam` config files."""

# vim: filetype=py

# /// script
# requires-python = ">=3.9"
# dependencies = ["rich", "vdf"]
# ///

# chezmoi:template:left-delimiter="# {{"
# {{ if not .manageGui -}}
# {{   abortEmpty -}}
# {{ end -}}

from pathlib import Path

from rich import print as rich_print
from vdf import dump, parse

PERSONAL_ID3 = "460410354"

CS2 = "730"
KCD2 = "1771300"


class DefaultDict(dict[str, "str | DefaultDict"]):
    """A nested default dictionary."""

    def __missing__(self, key: str) -> "DefaultDict":
        """Return a new empty DefaultDict when a key is missing."""
        empty_dict = DefaultDict()
        self[key] = empty_dict
        return empty_dict


localconfigs: set[Path] = set()

for steam_root in (
    Path("~/.local/share/Steam").expanduser(),
    Path("~/.var/app/com.valvesoftware.Steam/data/Steam").expanduser(),
):
    localconfigs.update(steam_root.glob("userdata/*/config/localconfig.vdf"))

for path in localconfigs:
    rich_print("[blue]Updating [i]Steam[/i] config ...")

    with path.open() as localconfig:
        parsed_vdf = parse(localconfig, mapper=DefaultDict)

    id3 = path.parent.parent.name
    system = parsed_vdf["UserLocalConfigStore"]["System"]
    apps = parsed_vdf["UserLocalConfigStore"]["Software"]["Valve"]["Steam"]["apps"]

    system["InGameOverlayScreenshotHotKey"] = "KEY_NONE"
    system["InGameOverlayShortcutKey"] = "Ctrl\tShift\tKEY_TAB"

    language = "-language 'Bulgarian'" if id3 == PERSONAL_ID3 else ""
    apps[CS2]["LaunchOptions"] = f"gamemoderun %command% +exec user.cfg {language}"

    apps[KCD2]["LaunchOptions"] = "gamemoderun %command%"

    with path.open("w") as localconfig:
        dump(parsed_vdf, localconfig, pretty=True)

    home = Path.home()
    rich_path = f"[link={path.as_uri()}][i]'~/{path.relative_to(home)}'[/i][/link]"
    rich_print(f"[green]{rich_path} updated successfully.")
