"""Set Windows registry settings."""

# vim: filetype=py

# /// script
# requires-python = ">=3.9"
# dependencies = ["rich"]
# ///

# chezmoi:template:left-delimiter="# {{"
# {{ if ne .os "windows" -}}
# {{   abortEmpty -}}
# {{ end -}}

from os import environ as env
from shutil import which
from typing import cast
from winreg import (
    HKEY_CURRENT_USER,
    REG_DWORD,
    REG_EXPAND_SZ,
    REG_SZ,
    CreateKey,
    ExpandEnvironmentStrings,
    QueryValueEx,
    SetValueEx,
)

from rich import print as rich_print

from helpers import restart_explorer


def registry_set_data(
    path: str,
    name: "str | None",
    data: "str | int",
    reg_type: "int | None" = None,
) -> None:
    """Set a `HKEY_CURRENT_USER` registry value."""
    if reg_type is None:
        if isinstance(data, str):
            if ExpandEnvironmentStrings(data) == data:
                reg_type = REG_SZ
            else:
                reg_type = REG_EXPAND_SZ
        else:
            reg_type = REG_DWORD

    try:
        with CreateKey(HKEY_CURRENT_USER, path) as key:
            SetValueEx(key, name, 0, reg_type, data)
    except PermissionError:
        rich_print(rf"[bright_red]Failed to set '{name}' in 'HKCU\{path}'.")
        rich_print("[bright_yellow]Key may be protected by the [i]UCPD[/i] driver.")


def registry_set_many_data(path: str, *kvp: tuple[str, "str | int"]) -> None:
    """Set multiple `HKEY_CURRENT_USER` registry values at once."""
    for name, data in kvp:
        registry_set_data(path, name, data)


def registry_path_append(new_path: str) -> None:
    """Add `new_path` to `%PATH%` if not already present."""
    with CreateKey(HKEY_CURRENT_USER, "Environment") as key:
        old_path, path_type = cast("tuple[str, int]", QueryValueEx(key, "Path"))

        if path_type != REG_EXPAND_SZ:
            error = TypeError("'PATH' type is not 'REG_EXPAND_SZ'.")
            raise error

        for part in old_path.split(";"):
            if ExpandEnvironmentStrings(new_path) == ExpandEnvironmentStrings(part):
                return

        new_path = f"{old_path.rstrip(';')};{new_path}"

        SetValueEx(key, "Path", 0, REG_EXPAND_SZ, new_path)


XDG_CACHE_HOME = r"%USERPROFILE%\.cache"
XDG_CONFIG_HOME = r"%USERPROFILE%\.config"
XDG_DATA_HOME = r"%USERPROFILE%\.local\share"
XDG_STATE_HOME = r"%USERPROFILE%\.local\state"

AUTORUN = r"Software\Microsoft\Windows\CurrentVersion\Run"
"""AutoRun registry settings."""
EXPLORER = r"Software\Microsoft\Windows\CurrentVersion\Explorer"
"""Settings related to `Windows Explorer`."""
SEARCH = r"Software\Microsoft\Windows\CurrentVersion\Search"
"""Settings related to `Windows Search`."""


rich_print("[bright_blue]Setting registry settings ...")

# Add directories to `%PATH%`.
registry_path_append(rf"{env['USERPROFILE']}\scoop\shims")
registry_path_append(r"%USERPROFILE%\.local\bin")
registry_path_append(r"%USERPROFILE%\.local\share\mise\shims")

# {{ if .isPersonal -}}
# Set keyboard layouts.
english_us = "00000409"
registry_set_data(r"Keyboard Layout\Preload", "1", english_us)
bulgarian_phonetic_traditional = "00040402"
registry_set_data(r"Keyboard Layout\Preload", "2", bulgarian_phonetic_traditional)
# {{ "\n" }}# {{ end -}}

# Disable mouse acceleration.
registry_set_data(r"Control Panel\Mouse", "MouseSpeed", "0")
registry_set_data(r"Control Panel\Mouse", "MouseThreshold1", "0")
registry_set_data(r"Control Panel\Mouse", "MouseThreshold2", "0")

# Set environment variables.
registry_set_many_data(
    r"Environment",
    ("XDG_CACHE_HOME", XDG_CACHE_HOME),
    ("XDG_CONFIG_HOME", XDG_CONFIG_HOME),
    ("XDG_DATA_HOME", XDG_DATA_HOME),
    ("XDG_STATE_HOME", XDG_STATE_HOME),
    # $XDG_CACHE_HOME
    ("PYTHONPYCACHEPREFIX", rf"{XDG_CACHE_HOME}\python"),
    ("RUFF_CACHE_DIR", rf"{XDG_CACHE_HOME}\ruff"),
    ("UV_CACHE_DIR", rf"{XDG_CACHE_HOME}\uv"),  # Windows-only.
    # XDG_CONFIG_HOME
    ("BAT_CONFIG_PATH", rf"{XDG_CONFIG_HOME}\bat\config"),  # Windows-only.
    ("CLAUDE_CONFIG_DIR", rf"{XDG_CONFIG_HOME}\claude"),
    ("COPILOT_HOME", rf"{XDG_CONFIG_HOME}\copilot"),
    ("NPM_CONFIG_USERCONFIG", rf"{XDG_CONFIG_HOME}\npm\npmrc"),
    ("TEALDEER_CONFIG_DIR", rf"{XDG_CONFIG_HOME}\tealdeer"),  # Windows-only.
    # XDG_DATA_HOME
    ("CARGO_HOME", rf"{XDG_DATA_HOME}\cargo"),
    ("RUSTUP_HOME", rf"{XDG_DATA_HOME}\rustup"),
    ("UV_PYTHON_INSTALL_DIR", rf"{XDG_DATA_HOME}\uv\python"),  # Windows-only.
    # XDG_STATE_HOME
    ("HISTFILE", rf"{XDG_STATE_HOME}\bash\history"),
    ("PYTHON_HISTORY", rf"{XDG_STATE_HOME}\python_history"),
    # `less`
    ("PAGER", "less"),
    ("LESS", "-FMRXix4 --mouse --use-color --wheel-lines=3"),
    # `neovim`
    ("EDITOR", "nvim"),
    ("MANPAGER", "nvim +Man!"),
)

# Restore the classic context menu in Windows 11.
path = r"Software\Classes\CLSID\{86ca1aa0-34aa-4e8b-a509-50c905bae2a2}\InprocServer32"
registry_set_data(path, name=None, data="")

# Free Super+V shortcut for external clipboard manager.
registry_set_data(rf"{EXPLORER}\Advanced", "DisabledHotkeys", "V")
# Show hidden files and folders in explorer.
registry_set_data(rf"{EXPLORER}\Advanced", "Hidden", 1)
# Show file extensions in explorer.
registry_set_data(rf"{EXPLORER}\Advanced", "HideFileExt", 0)
# Align taskbar to the left.
registry_set_data(rf"{EXPLORER}\Advanced", "TaskbarAl", 0)
# Hide widgets from the taskbar.
registry_set_data(rf"{EXPLORER}\Advanced", "TaskbarDa", 0)
# Add 'End task' button when right-clicking a program.
registry_set_data(rf"{EXPLORER}\Advanced\TaskbarDeveloperSettings", "TaskbarEndTask", 1)
# Change the app opened by the `CALC` key.
registry_set_data(rf"{EXPLORER}\AppKey\18", "ShellExecute", "qalculate-gtk")
# Hide 'Learn about this picture' icon.
icon = "{2cc5ca98-6485-489a-920e-b3e88a6ccce3}"
registry_set_data(rf"{EXPLORER}\HideDesktopIcons\NewStartPanel", icon, 1)

# Autostart `AltSnap`. Written like this to be adopted by AltSnap's GUI.
registry_set_data(AUTORUN, "AltSnap", rf'"{which("AltSnap.exe")}"')
# Autostart `Ditto`.
registry_set_data(AUTORUN, "Ditto", "Ditto.exe")

# Hide the taskbar search box.
registry_set_data(SEARCH, "BingSearchEnabled", 0)
# Disable Bing in Start search.
registry_set_data(SEARCH, "SearchboxTaskbarMode", 0)

rich_print("[bright_green]Registry settings imported successfully.")

restart_explorer()
