#!/usr/bin/env -S uv run -qsw rich
# vim: filetype=python

# chezmoi:template:left-delimiter="# {{"
# {{ if or (not (lookPath "apt")) (eq .sudo "false") -}}
# {{   abortEmpty -}}
# {{ end -}}

from os import environ as env

from helpers import CHEZMOI_DATA, CHEZMOI_PACKAGES, PIPE, SUDO, fmt, run

env["DEBIAN_FRONTEND"] = "noninteractive"


fmt("[info]Syncing apt databse ...")
run(SUDO, "apt update --yes")
fmt("[good]Apt database synced successfully.")

if CHEZMOI_DATA["distro"] == "android":
    fmt("[info]Updating system to avoid dependency mismatches ...")
    run("apt full-upgrade --yes -o Dpkg::Options::=--force-confnew")
    fmt("[good]Packages upgraded successfully.")

available_packages = CHEZMOI_PACKAGES.intersection(
    run("apt-cache pkgnames", out=PIPE).stdout.split()
)

fmt("[info]Installing apt packages ...")
run(SUDO, "apt install --yes", *available_packages)
fmt("[good]Packages installed successfully.")
