#!/usr/bin/env bash
# vim: filetype=sh

# chezmoi:template:left-delimiter="# {{"
# {{ if not .manageGnome -}}
# {{   abortEmpty -}}
# {{ end -}}

set -eu

# shellcheck source=helpers/helpers.sh
source "$CHEZMOI_WORKING_TREE"/helpers/helpers.sh

print_blue "Setting Dconf settings ..."

# {{ if .isPersonal -}}
dconf write /org/gnome/desktop/input-sources/sources \
    "[('xkb', 'us'), ('xkb', 'bg+phonetic')]"
dconf write /org/gnome/shell/favorite-apps \
    "['zen.desktop', 'kitty.desktop', 'dev.zed.Zed.desktop']"

# {{ end -}}

INPUT_SOURCES=/org/gnome/desktop/input-sources
dconf write $INPUT_SOURCES/per-window true

INTERFACE=/org/gnome/desktop/interface
dconf write $INTERFACE/gtk-enable-primary-paste false
dconf write $INTERFACE/gtk-theme "'adw-gtk3'"
dconf write $INTERFACE/icon-theme "'Morewaita'"

MOUSE=/org/gnome/desktop/peripherals/mouse
dconf write $MOUSE/accel-profile "'flat'"

KEYBOARD=/org/gnome/desktop/peripherals/keyboard
dconf write $KEYBOARD/numlock-state true

WM_KEYBINDINGS=/org/gnome/desktop/wm/keybindings
dconf write $WM_KEYBINDINGS/panel-run-dialog "['<Super>r']"
dconf write $WM_KEYBINDINGS/show-desktop "['<Super>d']"
dconf write $WM_KEYBINDINGS/switch-input-source "['<Alt>Shift_L']"
dconf write $WM_KEYBINDINGS/switch-input-source-backward "['<Shift>Alt_L']"

WM_PREFERENCES=/org/gnome/desktop/wm/preferences
dconf write $WM_PREFERENCES/action-middle-click-titlebar "'minimize'"
dconf write $WM_PREFERENCES/mouse-button-modifier "'<Super>'"
dconf write $WM_PREFERENCES/resize-with-right-button true

MUTTER=/org/gnome/mutter
dconf write $MUTTER/attach-modal-dialogs false

MEDIA_KEYS=/org/gnome/settings-daemon/plugins/media-keys
dconf write $MEDIA_KEYS/calculator "['Calculator']"
dconf write $MEDIA_KEYS/control-center "['<Control><Super>comma']"
dconf write $MEDIA_KEYS/help "['']"
dconf write $MEDIA_KEYS/home "['<Super>e']"
dconf write $MEDIA_KEYS/logout "['<Shift><Super>l']"
dconf write $MEDIA_KEYS/mic-mute "['Scroll_Lock']"
dconf write $MEDIA_KEYS/reboot "['<Control><Alt>Delete']"
dconf write $MEDIA_KEYS/shutdown "['<Shift><Control><Alt>Delete']"
dconf write $MEDIA_KEYS/volume-step 5

CUSTOM_KEYBINDS=/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings
dconf write $CUSTOM_KEYBINDS/custom0/name "'Task Manager'"
dconf write $CUSTOM_KEYBINDS/custom0/binding "'<Shift><Control>Escape'"
dconf write $CUSTOM_KEYBINDS/custom0/command "'io.missioncenter.MissionCenter'"
dconf write $CUSTOM_KEYBINDS/custom1/name "'Optical Character Recognition'"
dconf write $CUSTOM_KEYBINDS/custom1/binding "'<Super>C'"
dconf write $CUSTOM_KEYBINDS/custom1/command "'com.github.dynobo.normcap'"
dconf write $CUSTOM_KEYBINDS/custom2/name "'Cartridges Game Launcher'"
dconf write $CUSTOM_KEYBINDS/custom2/binding "'<Super>G'"
dconf write $CUSTOM_KEYBINDS/custom2/command "'page.kramo.Cartridges'"
dconf write $CUSTOM_KEYBINDS/custom3/name "'Force Quit Window Selector'"
dconf write $CUSTOM_KEYBINDS/custom3/binding "'<Super>X'"
dconf write $CUSTOM_KEYBINDS/custom3/command "'gdbus call --session --dest org.gnome.Shell --object-path /org/gnome/Shell/Extensions/ForceQuit --method org.gnome.Shell.Extensions.ForceQuit.SelectWindow'"
dconf write $CUSTOM_KEYBINDS "[
    '/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/',
    '/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom1/',
    '/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom2/',
    '/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom3/'
]"

GNOME_SHELL=/org/gnome/shell
dconf write $GNOME_SHELL/always-show-log-out true
dconf write $GNOME_SHELL/disable-extension-version-validation true
dconf write $GNOME_SHELL/keybindings/toggle-message-tray "['']"
dconf write $GNOME_SHELL/keybindings/screenshot "['Print']"
dconf write $GNOME_SHELL/keybindings/screenshot-window "['<Super>Print']"
dconf write $GNOME_SHELL/keybindings/show-screenshot-ui "['<Shift><Super>s']"
dconf write $GNOME_SHELL/welcome-dialog-last-shown-version "67.0"

SHELL_EXTENSIONS=/org/gnome/shell/extensions

# App Hider #
dconf write $SHELL_EXTENSIONS/app-hider/hidden-apps "[
    'avahi-discover.desktop',
    'assistant.desktop',
    'bssh.desktop',
    'btop.desktop',
    'bvnc.desktop',
    'designer.desktop',
    'linguist.desktop',
    'lstopo.desktop',
    'nvim.desktop',
    'org.gnome.Extensions.desktop',
    'org.gnome.Settings.desktop',
    'qdbusviewer.desktop',
    'qv4l2.desktop',
    'qvidcap.desktop',
    'scrcpy-console.desktop',
    'scrcpy.desktop',
    'yazi.desktop'
]"

# Copyous #
dconf write $SHELL_EXTENSIONS/copyous/clipboard-history "'keep-all'"
dconf write $SHELL_EXTENSIONS/copyous/database-backend "'sqlite'"
dconf write $SHELL_EXTENSIONS/copyous/history-length 500
dconf write $SHELL_EXTENSIONS/copyous/open-clipboard-dialog-shortcut "['<Super>v']"
dconf write $SHELL_EXTENSIONS/copyous/show-indicator false
dconf write $SHELL_EXTENSIONS/copyous/sound "'message'"

# Force Quit #
dconf write $SHELL_EXTENSIONS/forcequit/hide-button true

print_green "Dconf configured successfully."
