#!/usr/bin/env -S uv run -qsw rich
# vim: filetype=py

# chezmoi:template:left-delimiter="# {{"
# {{ if or (ne .os "linux") (eq .sudo "false") -}}
# {{   abortEmpty -}}
# {{ end -}}

from getpass import getuser
from grp import getgrnam
from os import environ as env
from pathlib import Path
from shutil import which
from subprocess import CalledProcessError

from rich import print as rich_print

from helpers import CHEZMOI_DATA, DEVNULL, SUDO, run, sudo_cache


def main() -> None:
    __systemd_service__("Sched_ext", "scx_loader.service")
    service_virtualbox()


def service_virtualbox() -> None:
    if CHEZMOI_DATA["productName"] != "VirtualBox" or env.get("container"):
        return

    __systemd_service__("VirtualBox", "vboxservice.service")
    __openrc_service__("VirtualBox", "virtualbox-guest-additions", "boot")
    __openrc_service__("VirtualBox DRM", "virtualbox-drm-client", "default")

    if (user := getuser()) not in getgrnam("vboxsf").gr_mem:
        rich_print("[bright_blue]Adding user to [i]vboxsf[/] group ...[/]", end=" ")
        run(SUDO, "usermod -aG vboxsf", user)
        rich_print("[bright_green]OK[/]")

    if which("VBoxClient-all") is None:
        return

    rich_print("[bright_blue]Setting up [i]VirtualBox[/] user services ...[/]", end=" ")
    try:
        run("VBoxClient-all", out=DEVNULL)
    except CalledProcessError:
        rich_print("[bright_red]FAILED[/]")
    else:
        rich_print("[bright_green]OK[/]")


def __systemd_service__(pretty_name: str, service_name: str) -> bool:
    if not Path(f"/usr/lib/systemd/system/{service_name}").is_file():
        return False

    sudo_cache()

    rich_print(f"[bright_blue]Setting up [i]{pretty_name}[/] service ...[/]", end=" ")
    run(SUDO, "systemctl enable --now", service_name, err=DEVNULL)
    rich_print("[bright_green]OK[/]")
    return True


def __openrc_service__(
    pretty_name: str,
    service_name: str,
    runlevel: str | None = None,
) -> bool:
    if not Path(f"/etc/init.d/{service_name}").is_file():
        return False

    sudo_cache()

    rich_print(f"[bright_blue]Setting up [i]{pretty_name}[/] service ...[/]", end=" ")
    run(SUDO, "rc-service", service_name)
    run(SUDO, "rc-update add", service_name, runlevel)
    rich_print("[bright_green]OK[/]")
    return True


if __name__ == "__main__":
    main()
