#!/usr/bin/env -S uv run -qsw rich
# vim: filetype=py

# chezmoi:template:left-delimiter="# {{"
# {{ if or (ne .os "linux") (eq .sudo "false") -}}
# {{   abortEmpty -}}
# {{ end -}}

"""Setup `/etc` directory."""

from contextlib import suppress
from filecmp import cmp
from hashlib import sha256
from json import dumps as json_dumps
from json import loads as json_loads
from os import environ as env
from pathlib import Path
from subprocess import DEVNULL, run
from typing import Literal

from rich import print as rich_print

CACHE_FILE = Path(env["CHEZMOI_CACHE_DIR"]) / "etc-script-cache.json"
CHEZMOI_ROOT = Path(env["CHEZMOI_WORKING_TREE"]) / "root"
ROOT = Path(env.get("PREFIX", "/"))  # $PREFIX is "root" in Termux.
SUDO: Literal["", "sudo"] = "# {{ .sudo }}"  # ty: ignore[invalid-assignment]

EXCLUSIONS: tuple[Path, ...] = (
    CHEZMOI_ROOT / "home",  # Managed by the `termux` script.
    CHEZMOI_ROOT / "README.md",  # README file, should not be placed in `/`.
)

if not CACHE_FILE.is_file():
    CACHE_FILE.write_text("{}")

cache: dict[str, str] = json_loads(CACHE_FILE.read_text())
"""Store a mapping of already-written `root_file` paths to their hashes.
Used to avoid requiring sudo access after the first time
that a non-readable file has been written to.
"""

root_files: dict[Path, Path] = {}
for chezmoi_file in CHEZMOI_ROOT.rglob("*"):
    if any(chezmoi_file.is_relative_to(exclusion) for exclusion in EXCLUSIONS):
        continue

    if not chezmoi_file.is_file():
        continue

    root_file = ROOT / chezmoi_file.relative_to(CHEZMOI_ROOT)

    cached_hash = cache.get(str(root_file))
    calculated_hash = sha256(chezmoi_file.read_bytes()).hexdigest()

    if cached_hash == calculated_hash:
        continue

    # `cmp` raises `PermissionError` if `root_file` is not readable.
    with suppress(FileNotFoundError, PermissionError):
        if cmp(chezmoi_file, root_file, shallow=False):
            continue

    root_files[chezmoi_file] = root_file

if (
    root_files
    and SUDO
    and run(("sudo", "-n", "true"), check=False, stderr=DEVNULL).returncode
):
    rich_print("[bright_blue]Caching sudo credentials ...[/]")
    run(("sudo", "-v"), check=True)
    rich_print("[bright_green]Sudo credentials cached.[/]")


# Trigger the script if any file inside `root` changes:
# # {{ template "hashDirectory" (joinPath .chezmoi.workingTree "root") }}

for chezmoi_file, root_file in root_files.items():
    root_file_link = f"[link={root_file.as_uri()}]{root_file}[/]"
    rich_print(f"[bright_blue]Writing to '{root_file_link}' ...[/]", end=" ")

    cmd = (SUDO, "install", "-D", "-m", "644", chezmoi_file, root_file)
    run(tuple(filter(None, cmd)), check=True)
    rich_print("[bright_green]OK[/]")

    cache[str(root_file)] = sha256(chezmoi_file.read_bytes()).hexdigest()

CACHE_FILE.write_text(json_dumps(cache))
