#!/usr/bin/env -S uv run -qsw rich
# vim: filetype=py

# chezmoi:template:left-delimiter="# {{"
# Trigger the script if any file inside `~/.config/mise` changes:
# # {{ template "hashDirectory" (joinPath .chezmoi.sourceDir "private_dot_config/mise") }}
# Trigger this script weekly, using the current week number:
# # {{ div now.YearDay 7 }}

"""Set up a development environment using `mise`."""

from json import loads as json_loads
from os import environ as env
from pathlib import Path

from helpers import CHEZMOI_DATA, DEVNULL, PIPE, fmt, run

MISE = Path.home() / ".local/bin/mise"
MISE_LINK: str = "[i link=https://mise.jdx.dev/]mise"


def main() -> None:
    if not MISE.is_file():
        fmt(f"[fail]{MISE_LINK} is not installed. Exiting ...")
        raise SystemExit(1)

    mise_self_update()
    mise_bootstrap()
    run(MISE, "install")


def mise_self_update() -> None:
    output = run(MISE, "version --json", out=PIPE).stdout
    version_info: dict[str, str] = json_loads(output)

    current = f"v{version_info['version'].split()[0]}"
    latest = f"v{version_info['latest']}"

    if current == latest:
        return

    fmt(f"[info]Downloading {MISE_LINK} update ...")
    run(MISE, "self-update --yes", out=DEVNULL)

    fmt(f"[good]{MISE_LINK} has been updated successfully:", end=" ")
    fmt(f"[warn strike]{current}[/] -> [good]{latest}")


def mise_bootstrap() -> None:
    cmd = (MISE, "bootstrap packages status --missing")
    if not run(*cmd, check=False, out=DEVNULL).returncode:
        return

    fmt(f"[info]Installing {MISE_LINK} bootstrap packages ...")

    if CHEZMOI_DATA["distro"] == "android":
        __mise_bootstrap_android__()
    else:
        run(MISE, "bootstrap packages apply --yes")

    fmt("[good]Bootstrap packages installed successfully.")


def __mise_bootstrap_android__() -> None:
    """Mise tries to use `sudo` for on `Termux` but fails. This is a workaround."""
    cmd = (MISE, "bootstrap packages status --json")
    packages = json_loads(run(*cmd, out=PIPE).stdout)

    rename = {"gcc": "clang"}
    missing_packages: set[str] = {
        rename.get(pkg["package"], pkg["package"])
        for pkg in packages["apt"]["packages"]
        if pkg["state"] == "missing"
    }

    env["DEBIAN_FRONTEND"] = "noninteractive"
    run("apt update", out=DEVNULL, err=DEVNULL)
    run("apt install --yes", *missing_packages)


if __name__ == "__main__":
    main()
