#!/usr/bin/env -S uv run -qsw gnome-extensions-cli,rich --no-managed-python
# vim: filetype=py

# chezmoi:template:left-delimiter="# {{"
# {{ if not .manageGnome -}}
# {{   abortEmpty -}}
# {{ end -}}

"""Install Gnome extensions."""

from subprocess import CalledProcessError

from helpers import DEVNULL, fmt, run

EXTENSIONS = (
    # Alphabetical App Grid.
    "AlphabeticalAppGrid@stuarthayhurst",
    # App Hider.
    "app-hider@lynith.dev",
    # AppIndicator and KStatusNotifierItem Support.
    "appindicatorsupport@rgcjonas.gmail.com",
    # Copyous.
    "copyous@boerdereinar.dev",
    # Disable Menu Switching.
    "disable-menu-switching@selfmade.pl",
    # Force Quit.
    "fq@megh",
    # Quick Close in Overview.
    "middleclickclose@paolo.tranquilli.gmail.com",
    # Panel Scroll.
    "panelScroll@sun.wxg@gmail.com",
    # Tiling Assistant.
    "tiling-assistant@leleat-on-github",
)

fmt("[info]Setting up GNOME extensions ...")

try:
    run("gext --dbus install", *EXTENSIONS, err=DEVNULL)
except CalledProcessError:
    fmt("[info]Falling back to filesystem mode.")
    run("gext --filesystem install", *EXTENSIONS)
    fmt("[warn]Gnome shell restart required to apply changes.")
else:
    fmt("[good]GNOME extensions set up successfully.")
