{
  // chezmoi:template:left-delimiter="null, //" right-delimiter="//"
  "$schema": "zed://schemas/settings",

  // Fonts.
  "buffer_font_size": null, // .fonts.size //,
  "buffer_font_family": "AdwaitaMono Nerd Font Mono",
  "ui_font_size": null, // .fonts.size //,
  "ui_font_family": "UbuntuMono Nerd Font Mono",

  // Look & feel.
  "cli_default_open_behavior": "new_window",
  "collaboration_panel": { "button": false },
  "colorize_brackets": true,
  "middle_click_paste": false,
  "outline_panel": { "dock": "left" },
  "project_panel": { "dock": "left", "sort_order": "unicode" },
  "status_bar": { "line_endings_button": true, "show_active_file": true },
  "when_closing_with_no_tabs": "close_window",
  "wrap_guides": [80, 88],
  "theme": {
    "light": "Adwaita Light",
    "dark": "Adwaita Dark",
  },
  "icon_theme": {
    "light": "VSCode Icons for Zed (Light Official Icons)",
    "dark": "VSCode Icons for Zed (Dark Official Icons)",
  },

  // Extensions.
  "auto_install_extensions": {
    // Extensions: default
    "html": true,
    // Extensions: custom
    "adwaita": true,
    "basher": true,
    "fish": true,
    "git-firefly": true,
    "gotmpl": true,
    "ini": true,
    "lua": true,
    "powershell": true,
    "tcl": true,
    "toml": true,
    "vscode-icons": true,
    "xml": true,
  },

  // Integrated terminal.
  "terminal": {
    "minimum_contrast": 67.0,
    "env": {
      "GIT_EDITOR": "zed --wait",
    },
  },

  // Detect more files types correctly.
  "file_types": {
    "Go Text Template": ["*.tmpl"],
    "ini": ["*.reg", "*.ini.tmpl", "**/*flatpak/overrides/*"],
  },

  // Languages & formatting.
  "line_ending": "enforce_lf",
  "preferred_line_length": 88,
  "languages": {
    "Fish": { "formatter": { "external": { "command": "fish_indent" } } },
    "TOML": { "tab_size": 2 },
    "Shell Script": {
      "formatter": {
        "external": {
          "command": "shfmt",
          "arguments": ["--filename", "{buffer_path}", "--indent", "4"],
        },
      },
    },
    "TCL": {
      "formatter": {
        "external": {
          "command": "tclfmt",
          "arguments": ["-", "--indent", "4"],
        },
      },
    },
  },
  "lsp": {
    "powershell-es": {
      "settings": {
        "powershell": {
          "codeFormatting": { "openBraceOnSameLine": true, "ignoreOneLineBlock": true },
        },
      },
    },
  },

  // Version control.
  "diff_view_style": "unified",
  "git_panel": { "dock": "left", "sort_by_path": true, "tree_view": true },

  // Profiles.
  "profiles": {
    "Notepad": {
      // Not done.
      "settings": { "theme": { "light": "One Light", "dark": "One Dark" } },
    },
  },

  // Disable auto-updates & telemetry.
  "auto_update": false,
  "telemetry": { "diagnostics": false, "metrics": false },

  // Artificial intelligence.
  "edit_predictions": { "mode": "subtle" },
  "agent": {
    "default_profile": "ask",
    "dock": "right",
    "sidebar_side": "right",
    "default_model": {
      "enable_thinking": false,
      "model": "gemini-3.1-pro-preview",
      "provider": "copilot_chat",
    },
    "tool_permissions": {
      "tools": {
        "fetch": { "default": "allow" },
      },
    },
    "favorite_models": [
      {
        "enable_thinking": false,
        "model": "gemini-3.1-pro-preview",
        "provider": "copilot_chat",
      },
      {
        "enable_thinking": true,
        "model": "gpt-5.2-codex",
        "provider": "copilot_chat",
      },
    ],
  },
}
