{
  // chezmoi:template:left-delimiter="null, //" right-delimiter="//"
  "$schema": "zed://schemas/settings",

  // Fonts.
  "buffer_font_size": null, // .fonts.size //,
  "buffer_font_family": "AdwaitaMono Nerd Font Mono",
  "ui_font_size": null, // .fonts.size //,
  "ui_font_family": "UbuntuMono Nerd Font Mono",

  // Look & feel.
  "colorize_brackets": true,
  "theme": { "mode": "system", "light": "Adwaita Light", "dark": "Adwaita Dark" },
  "wrap_guides": [80, 88],

  // Extensions.
  "auto_install_extensions": {
    // Extensions: default
    "html": true,
    // Extensions: custom
    "adwaita": true,
    "basher": true,
    "fish": true,
    "git-firefly": true,
    "gotmpl": true,
    "ini": true,
    "lua": true,
    "powershell": true,
    "tcl": true,
    "toml": true,
    "xml": true,
  },

  // Disable auto-updates & telemetry.
  "auto_update": false,
  "telemetry": {
    "diagnostics": false,
    "metrics": false,
  },

  // Integrated terminal.
  "terminal": {
    "env": {
      "GIT_EDITOR": "zed --wait",
    },
  },

  // Linux <3 specific!
  "middle_click_paste": false,

  // Detect more files types correctly.
  "file_types": {
    "Go Text Template": ["*.tmpl"],
    "ini": ["*.reg", "*.ini.tmpl", "**/*flatpak/overrides/*"],
  },

  // Languages & formatting.
  "languages": {
    "Fish": { "formatter": { "external": { "command": "fish_indent" } } },
    "PowerShell": { "format_on_save": "off" },
    "Shell Script": {
      "formatter": {
        "external": {
          "command": "shfmt",
          "arguments": ["--filename", "{buffer_path}", "--indent", "4"],
        },
      },
    },
    "TCL": {
      "formatter": {
        "external": {
          "command": "tclfmt",
          "arguments": ["-", "--indent", "4"],
        },
      },
    },
    "TOML": { "tab_size": 2 },
  },
  "preferred_line_length": 88,

  // Version control.
  "diff_view_style": "unified",
  "git_panel": {
    "sort_by_path": true,
    "tree_view": true,
  },

  // Artificial intelligence.
  "agent": {
    "default_model": {
      "provider": "copilot_chat",
      "model": "gpt-5.3-codex",
      "enable_thinking": false,
    },
    "default_profile": "ask",
  },
  "edit_predictions": { "mode": "subtle" },
}
