# registry.reg hash: {{ include "data/registry.reg" | sha256sum }}

Write-Host "Setting registry settings..." -ForegroundColor Blue
& $env:CHEZ_SUDO reg import $env:CHEZMOI_SOURCE_DIR/data/registry.reg

Write-Host "Restarting explorer.exe" -ForegroundColor Blue
taskkill -f -im explorer.exe; start explorer.exe

Write-Host "Registry configured sucessfully." -ForegroundColor Green
