{{ range (glob (joinPath .chezmoi.sourceDir ".data" "regedit" "*.reg")) -}}

# {{ base . }} hash: {{ include . | sha256sum }}
Write-Output "Importing {{ base . }}"
reg import {{ . }}

{{ end -}}

Write-Output "Restarting explorer.exe"
Stop-Process -Name explorer -Force; Start-Process explorer
