# packages.yaml hash: {{ .packages.scoop | toString | sha256sum }}

if (!(Get-Command scoop -ErrorAction SilentlyContinue)) {
    Invoke-RestMethod -Uri https://get.scoop.sh | Invoke-Expression
}

scoop install git
scoop bucket add extras
scoop bucket add iliya https://github.com/iliqiliev/iliya-bucket

scoop install --no-update-scoop {{ join " " .packages.scoop }}
