{{ range (glob (joinPath .chezmoi.sourceDir "data/regedit/*.reg")) -}}

# {{ base . }} hash: {{ include . | sha256sum }}
Write-Host "Importing {{ base . }}" -ForegroundColor Blue
reg import {{ . }}

{{ end -}}

Write-Host "Restarting explorer.exe" -ForegroundColor Blue
Stop-Process -Name explorer -Force; Start-Process explorer
