# packages.yaml hash: {{ .packages.scoop | toString | sha256sum }}

if (!(Get-Command scoop -ErrorAction SilentlyContinue)) {
    Invoke-RestMethod -Uri https://get.scoop.sh | Invoke-Expression
}

scoop install git
scoop update
scoop bucket add extras

scoop install {{ join " " .packages.scoop }}
