{{ if ne .os "linux" -}}
{{   abortEmpty -}}
{{ end -}}

["ble.sh"]
targetPath = "blesh"
type = "archive"
stripComponents = 1
url = "https://github.com/akinomyoga/ble.sh/releases/download/nightly/ble-nightly.tar.xz"
refreshPeriod = "672h"
