$ErrorActionPreference = 'Stop'

Write-Host "Installing development tools using 'mise' ..." -ForegroundColor Blue

if (!(Get-Command mise -ErrorAction Ignore)) {
    Write-Host "'mise' is not installed. Aborting ..." -ForegroundColor Red
    exit 0
}

Write-Host "[$(mise version)] Checking for new 'mise' version ..." -ForegroundColor Blue
# Trigger weekly script re-run by using the week number: # {{ div now.YearDay 7 }}
mise self-update --yes > $null
Write-Host "[$(mise version)] 'mise' is up to date." -ForegroundColor Green

# mise config.toml hash: {{ include "private_dot_config/mise/config.toml" | sha256sum }}
mise bootstrap

Write-Host "Development tools installed successfully." -ForegroundColor Green
