# mise config.toml hash: {{ include "private_dot_config/mise/config.toml" | sha256sum }}

$ErrorActionPreference = 'Stop'

Write-Host "Installing development tools using 'mise' ..." -ForegroundColor Blue

if (!(Get-Command mise -ErrorAction Ignore)) {
    Write-Host "'mise' is not installed. Installing ..." -ForegroundColor Blue
    scoop install mise
    if (!$?) { exit 1 }
    Write-Host "'mise' installed successfully." -ForegroundColor Green
}

mise install

Write-Host "Development tools installed successfully." -ForegroundColor Green
