{{ if or (ne .os "linux") (not .manageGui) -}}
{{   abortEmpty -}}
{{ end -}}

[Morewaita]
targetPath = "Morewaita"
type = "archive"
url = "https://github.com/somepaulo/MoreWaita/archive/refs/heads/main.tar.gz"
stripComponents = 1
include = ["*/index.theme", "*/scalable/**", "*/symbolic/**", "*/AUTHORS", "*/LICENSE"]
refreshPeriod = "672h"
