# Font family.
# It is automatically installed by chezmoi.
font_family AdwaitaMono Nerd Font Mono

# Font size in pts.
# Determined by: chezmoi execute-template {{ "'{{ sub .fonts.size 3 }}'" }}
font_size {{ sub .fonts.size 3 }}

# Number of lines of history to keep in memory for scrolling back.
scrollback_lines 20000

# Prevent low contrast between foreground and background colors.
# Possible values range from 0 to 21.
text_fg_override_threshold 4.5 ratio

# The window padding (in pts).
# Four values set top, right, bottom and left.
window_padding_width 5 5 5 5
