#!/usr/bin/env bash
# vim: noexpandtab

set -eu

# shellcheck source=helpers/env.sh
source ~/.local/share/chezmoi/helpers/env.sh

if test "$CHEZ_SUDO" = "false"; then
    exit 0
fi

print_blue "Installing Chaotic-AUR..."

if grep --quiet "chaotic-aur" /etc/pacman.conf; then
    print_green "Chaotic-AUR is already installed."
else
    CHAOTIC_KEY="3056513887B78AEB"
    CHAOTIC_CDN="https://cdn-mirror.chaotic.cx/chaotic-aur"

    $CHEZ_SUDO pacman-key --init

    $CHEZ_SUDO pacman-key --recv-key $CHAOTIC_KEY --keyserver keyserver.ubuntu.com
    $CHEZ_SUDO pacman-key --lsign-key $CHAOTIC_KEY

    $CHEZ_SUDO pacman -U --noconfirm $CHAOTIC_CDN/chaotic-{keyring,mirrorlist}.pkg.tar.zst

    $CHEZ_SUDO dd conv=notrunc oflag=append status=none of=/etc/pacman.conf <<-EOF

	[chaotic-aur]
	Include = /etc/pacman.d/chaotic-mirrorlist
	EOF

    $CHEZ_SUDO pacman -Sy --noconfirm
    print_green "Chaotic-AUR installed successfully."
fi

print_blue "Installing Yay AUR helper..."

if command -v yay >/dev/null; then
    print_green "Yay is already installed."
else
    $CHEZ_SUDO pacman -S --needed --noconfirm yay
    print_green "Yay installed successfully."
fi

YAY_ARGS=(--color=auto --needed --noconfirm --sudoloop)

print_blue "Updating system to avoid partially updated dependencies..."
yay -Syu "${YAY_ARGS[@]}"
print_green "System updated successfully."

print_blue "Installing pacman packages..."
yay -S "${YAY_ARGS[@]}" --asexplicit  -- {{ .packages }}
print_green "Packages installed successfully."
