{{ if eq .distro "arch" -}}

#!/usr/bin/env bash

# packages.yaml hash: {{ include ".chezmoidata/packages.yaml" | sha256sum }}

{{ .sudo }} pacman -Syu --noconfirm
{{ .sudo }} pacman -S --needed --noconfirm {{ join " " .packages.pacman }}

{{- end }}
