{{ if eq .distro "android" -}}

#!{{ lookPath "bash" }}

# apt packages hash: {{ .packages.apt | toString | sha256sum }}

apt update -y
AVAILABLE_PACKAGES=$(
  comm -12 \
    <(apt-cache pkgnames | sort) \
    <(echo -e "{{ join "\\n" .packages.apt }}" | sort)
)
apt install -y $AVAILABLE_PACKAGES

{{- end }}
