{{ if eq .distro "debian" -}}

#!/usr/bin/env bash

# packages.yaml hash: {{ include ".chezmoidata/packages.yaml" | sha256sum }}

{{ .sudo }} apt update -y
{{ .sudo }} apt install -y {{ join " " .packages.apt }}

{{- end }}
