{{ if eq .distro "debian" -}}

#!/usr/bin/env bash

# packages.yaml hash: {{ include ".chezmoidata/packages.yaml" | sha256sum }}



{{ .sudo }} apt update -y
APT_PACKAGES=$(apt-cache pkgnames | sort)
CHEZMOI_PACKAGES=$(echo -e "{{ join "\\n" .packages.apt }}" | sort)
AVAILABLE_PACKAGES=$(comm -12 <(echo $APT_PACKAGES) <(echo $CHEZMOI_PACKAGES))
{{ .sudo }} apt install -y $AVAILABLE_PACKAGES

{{- end }}
