{{ $mozillaAddons := "https://addons.mozilla.org/firefox/downloads/latest" -}}
{{ $extensionsPath := ".config/zen/profile/extensions" -}}

{{ $filters := dict
     "__personal__" (.isPersonal)
     "__noWork__" (not .isWork)
-}}

{{ range $name, $info := .firefoxExtensions -}}
{{   $skip := false -}}
{{   range $filter, $value := $filters -}}
{{     if and (hasKey $info $filter) (not $value) }}{{ $skip = true }}{{ end -}}
{{   end -}}
{{   if $skip }}{{ continue }}{{ end -}}
{{   $extensionFullPath := print $extensionsPath "/" $info.file -}}
{{   if stat $extensionFullPath }}{{ continue }}{{ end -}}

# {{ $info.pretty }}
["{{ $extensionFullPath }}"]
type = "file"
url = "{{ $mozillaAddons }}/{{ $name }}/latest.xpi"

{{ end -}}
