{{ if not .manageGui -}}
{{   abortEmpty }}
{{ end -}}

{{ $mozillaAddons := "https://addons.mozilla.org/firefox/downloads/latest" -}}
{{ $extensionsPath := ".config/zen/profile/extensions" -}}

{{ $filters := dict
         "personal" (.isPersonal)
          "no-work" (not .isWork)
-}}

{{ range $name, $info := .firefoxExtensions -}}

{{   range $tag := index $info "__tags__" -}}
{{     if not (index $filters $tag) -}}
{{       $name = false -}}
{{     end -}}
{{   end -}}
{{   if not $name -}}
{{     continue -}}
{{   end -}}
{{   $extensionFullPath := print $extensionsPath "/" $info.file -}}
{{   if stat $extensionFullPath -}}
{{     continue -}}
{{   end -}}

# {{ $info.pretty }}
["{{ $extensionFullPath }}"]
type = "file"
url = "{{ $mozillaAddons }}/{{ $name }}/latest.xpi"

{{ end -}}
