{{ $mozillaAddons := "https://addons.mozilla.org/firefox/downloads/latest" -}}
{{ $extensionsPath := ".config/zen/profile/extensions" -}}

{{ $filters := dict
     "personal" (.isPersonal)
     "no-work" (not .isWork)
-}}

{{ range $name, $info := .firefoxExtensions -}}
{{   $skip := false -}}
{{   range $tag := index $overrides "__tags__" -}}
{{     if not (index $filters $tag) }}{{ $skip = true }}{{ end -}}
{{   end -}}
{{   if $skip }}{{ continue }}{{ end -}}
{{   $extensionFullPath := print $extensionsPath "/" $info.file -}}
{{   if stat $extensionFullPath }}{{ continue }}{{ end -}}

# {{ $info.pretty }}
["{{ $extensionFullPath }}"]
type = "file"
url = "{{ $mozillaAddons }}/{{ $name }}/latest.xpi"

{{ end -}}
