{{ $arch := "" -}}

{{ if ne .os "linux" -}}
{{   abortEmpty -}}
{{ end -}}

{{ $fish := "/usr/bin/fish" -}}
{{ $VersionCheckCmd := "test (echo $FISH_VERSION | awk -F '.' '{print $1}') -ge 4" -}}
{{ if and (lookPath $fish) (exec $fish "-c" $VersionCheckCmd) -}}
{{   abortEmpty -}}
{{ end -}}

{{ if eq .chezmoi.arch "amd64" -}}
{{   $arch = "x86_64" -}}
{{ else if eq .chezmoi.arch "arm64" -}}
{{   $arch = "aarch64" -}}
{{ else -}}
{{   abortEmpty -}}
{{ end -}}

[".local/bin/fish"]
type = "archive-file"
path = "fish"
executable = true
{{ $asset := print "fish-*-linux-" $arch ".tar.xz" -}}
url = "{{ gitHubLatestReleaseAssetURL "fish-shell/fish-shell" $asset }}"
refreshPeriod = "672h"
