{{ if ne .os "linux" -}}
{{   abortEmpty -}}
{{ end -}}

{{ if or (not (lookPath ($fish := "/usr/bin/fish")))
         (not (exec $fish "-c" "test (echo $version | awk -F '.' '{print $1}') -ge 4")) -}}
[".local/bin/fish"]
type = "archive-file"
path = "fish"
executable = true
{{ $arch := includeTemplate "archRust" . -}}
{{ $asset := print "fish-*-" .os "-" $arch ".tar.xz" -}}
url = "{{ gitHubLatestReleaseAssetURL "fish-shell/fish-shell" $asset }}"

{{ end -}}

{{ $fisher := ".config/fish/functions/fisher.fish" -}}
{{ if not (stat (joinPath .chezmoi.homeDir $fisher)) -}}
["{{ $fisher }}"]
type = "file"
url = "https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish"
{{ end -}}
