{{ if ne .os "linux" -}}
{{   abortEmpty -}}
{{ end -}}

{{ if and (lookPath ($fish := "/usr/bin/fish"))
          (exec $fish "-c" "test (echo $version | awk -F '.' '{print $1}') -ge 4")
      | not -}}
[".local/bin/fish"]
type = "archive-file"
path = "fish"
executable = true
{{ $arch := includeTemplate "archRust" . -}}
{{ $asset := print "fish-*-" .os "-" $arch ".tar.xz" -}}
url = "{{ gitHubLatestReleaseAssetURL "fish-shell/fish-shell" $asset }}"

{{ end -}}

{{ if stat (joinPath .chezmoi.homeDir ".config/fish/functions/fisher.fish") | not -}}
[".config/fish/functions/fisher.fish"]
type = "file"
url = "https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish"
{{ end -}}
