{{ if or (ne .os "linux") (not .manageGui) -}}
{{   abortEmpty -}}
{{ end -}}

[".local/share/icons/Morewaita"]
type = "archive"
stripComponents = 1
include = [
  "MoreWaita-main/AUTHORS",
  "MoreWaita-main/LICENSE",
  "MoreWaita-main/index.theme",
  "MoreWaita-main/scalable/**",
  "MoreWaita-main/symbolic/**"
]
url = "https://github.com/somepaulo/MoreWaita/archive/refs/heads/main.tar.gz"
refreshPeriod = "672h"
