{{ if or (ne .os "linux") (not .manageGui) -}}
{{   abortEmpty }}
{{ end -}}

{{ $arch := includeTemplate "archShort" . -}}
{{ $addonPath := ".local/share/kodi/addons" -}}

["ElementumOrg repository"]
targetPath = "{{ $addonPath }}"
type = "archive"
{{ $asset := "repository.elementumorg-*.*.*.zip" -}}
url = "{{ gitHubLatestReleaseAssetURL "ElementumOrg/repository.elementumorg" $asset }}"
refreshPeriod = "672h"
