{{ if or (ne .os "linux") (not .manageGui) -}}
{{   abortEmpty }}
{{ end -}}

{{ $arch := "" -}}
{{ $addonPath := ".local/share/kodi/addons" -}}

{{ if eq .chezmoi.arch "amd64" -}}
{{   $arch = "x64" -}}
{{ else if eq .chezmoi.arch "arm64" -}}
{{   $arch = "arm64" -}}
{{ else -}}
{{   abortEmpty -}}
{{ end -}}

["Elementum"]
targetPath = "{{ $addonPath }}"
type = "archive"
{{ $asset := print "plugin.video.elementum-*.*.*." .os "_" $arch ".zip" -}}
url = "{{ gitHubLatestReleaseAssetURL "elgatito/plugin.video.elementum" $asset }}"
refreshPeriod = "672h"

["Elementum Burst"]
targetPath = "{{ $addonPath }}"
type = "archive"
{{ $asset := "script.elementum.burst-*.*.*.zip" -}}
url = "{{ gitHubLatestReleaseAssetURL "elgatito/script.elementum.burst" $asset }}"
refreshPeriod = "672h"
