{{ $mise := "mise" -}}
{{ $libc := "-musl" -}}
{{ $ext := "tar.xz" -}}

{{ if eq .os "windows" -}}
{{   $mise = "mise.exe" -}}
{{   $libc = "" -}}
{{   $ext = "zip" -}}
{{ end -}}

{{ if stat (joinPath .chezmoi.homeDir ".local/bin" $mise) -}}
{{/* If mise is already installed, let it manage itself. */ -}}
{{   abortEmpty -}}
{{ end -}}

{{ $arch := includeTemplate "archShort" . -}}
{{ $asset := print "mise-v*.*.*-" .os "-" $arch $libc "." $ext -}}
{{ $url := gitHubLatestReleaseAssetURL "jdx/mise" $asset -}}

[".local/bin/{{ $mise }}"]
type = "archive-file"
path = "mise/bin/{{ $mise }}"
executable = true
url = "{{ $url }}"

{{ if eq .os "windows" -}}
[".local/bin/mise-shim.exe"]
type = "archive-file"
path = "mise/bin/mise-shim.exe"
executable = true
url = "{{ $url }}"
{{ end -}}
