{{ if or (ne .os "linux") (not .manageGui) -}}
{{   abortEmpty -}}
{{ end -}}

[".local/share/themes"]
type = "archive"
url = "{{ gitHubLatestReleaseAssetURL "lassekongo83/adw-gtk3" "adw-gtk3v*.tar.xz" }}"
