{{ $components := -1 -}}
{{ $libc := "" -}}
{{ $ext := "" -}}

{{ if eq .os "linux" -}}
{{   $components = 1 -}}
{{   $libc = "musl" -}}
{{   $ext = "tar.gz" -}}
{{ else if eq .os "windows" -}}
{{   $components = 0 -}}
{{   $libc = "msvc" -}}
{{   $ext = "zip" -}}
{{ else -}}
{{   abortEmpty -}}
{{ end -}}

["uv"]
targetPath = ".local/bin"
type = "archive"
stripComponents = {{ $components }}
executable = true
{{ $arch := includeTemplate "archRust" . -}}
{{ $asset := print "uv-" $arch "-*-" .os "-" $libc "." $ext -}}
url = "{{ gitHubLatestReleaseAssetURL "astral-sh/uv" $asset }}"
