{{ $components := -1 -}}
{{ $arch := "" -}}
{{ $libc := "" -}}
{{ $ext := "" -}}

{{ if eq .chezmoi.arch "amd64" -}}
{{   $arch = "x86_64" -}}
{{ else if eq .chezmoi.arch "arm64" -}}
{{   $arch = "aarch64" -}}
{{ else -}}
{{   abortEmpty -}}
{{ end -}}

{{ if eq .os "linux" -}}
{{   $components = 1 -}}
{{   $libc = "musl" -}}
{{   $ext = "tar.gz" -}}
{{ else if eq .os "windows" -}}
{{   $components = 0 -}}
{{   $libc = "msvc" -}}
{{   $ext = "zip" -}}
{{ else -}}
{{   abortEmpty -}}
{{ end -}}

[".local/bin/uv"]
type = "archive"
stripComponents = {{ $components }}
executable = true
{{ $asset := printf "uv-%s-*-%s-%s.%s" $arch .os $libc $ext -}}
url = "{{ gitHubLatestReleaseAssetURL "astral-sh/uv" $asset }}"
