{{ $components := 1 -}}
{{ $libc := "musl" -}}
{{ $ext := "tar.gz" -}}
{{ $refreshPeriod := "0" -}}

{{ if eq .os "windows" -}}
{{   $components = 0 -}}
{{   $libc = "msvc" -}}
{{   $ext = "zip" -}}
{{/* Windows version does not support self-updating. */ -}}
{{   $refreshPeriod = "24h" -}}
{{ end -}}

["uv"]
targetPath = ".local/bin"
type = "archive"
stripComponents = {{ $components }}
executable = true
{{ $arch := includeTemplate "archRust" . -}}
{{ $asset := print "uv-" $arch "-*-" .os "-" $libc "." $ext -}}
url = "{{ gitHubLatestReleaseAssetURL "astral-sh/uv" $asset }}"
refreshPeriod = "{{ $refreshPeriod }}"
