{{ if not .manageGui -}}
{{   abortEmpty }}
{{ end -}}

{{ $mozillaAddonsBaseURL := "https://addons.mozilla.org/firefox/downloads/latest" -}}
{{ $extensionsPath := ".config/zen/profile/extensions" -}}
{{/* `range` overrides the `.` map so a variable is needed. */}}
{{ $home := .chezmoi.homeDir -}}

{{ $filters := dict
         "personal" (.isPersonal)
          "no-work" (not .isWork)
-}}

{{ range $name, $info := .firefoxExtensions -}}

{{   range $tag := (index $info "__tags__") -}}
{{     if not (index $filters $tag) -}}
{{       $name = false -}}
{{     end -}}
{{   end -}}
{{   if not $name -}}
{{     continue -}}
{{   end -}}
{{   $extensionFilePath := print $extensionsPath "/" $info.file -}}
{{   if stat (joinPath $home $extensionFilePath) -}}
{{/*   Let the browser manage already-installed extensions. */ -}}
{{     continue -}}
{{   end -}}

# {{ $info.pretty }}
["{{ $extensionFilePath }}"]
type = "file"
url = "{{ $mozillaAddonsBaseURL }}/{{ $name }}/latest.xpi"

{{ end -}}
