# vim: filetype=toml
# chezmoi:template:left-delimiter="# {{"
#:tombi schema.strict = false

[bootstrap.packages]
# {{ if .distro | eq "android" -}}
"apt:nodejs" = "latest"  # mise's version cannot find `/lib/ld-musl-aarch64.so.1`.
"apt:tree-sitter" = "latest"  # mise's version cannot find `/lib/ld-musl-aarch64.so.1`.
# {{ else if .distro | eq "alpine" -}}
"apk:tree-sitter-cli" = "latest"  # mise's version cannot find `/lib64/ld-linux-x86-64.so.2`.
# {{ end -}}
# `tree-sitter` needs a C compiler.
"apk:build-base" = "latest"  # Just `gcc` is not enough.
"apt:gcc" = "latest"
"dnf:gcc" = "latest"
"pacman:gcc" = "latest"

[env]
HOME = { default = "$USERPROFILE" }
# XDG User Directories:
XDG_CACHE_HOME = "$HOME/.cache"
XDG_CONFIG_HOME = "$HOME/.config"
XDG_DATA_HOME = "$HOME/.local/share"
XDG_STATE_HOME = "$HOME/.local/state"

[tool_alias]
bashls = "npm:bash-language-server"
fish-lsp = "npm:fish-lsp"
sqruff = "aqua:quarylabs/sqruff"
tclint = "pipx:tclint"
ts_query_ls = "github:ribru17/ts_query_ls"

[tools.bashls]  # Aliased.
depends = "node"
version = "latest"

[tools.fish-lsp]  # Aliased.
depends = "node"
os = ["linux"]
version = "latest"

[tools.lua-language-server]
version = "latest"

[tools.node]
version = "latest"

[tools.ruff]
version = "latest"

[tools.shellcheck]
version = "latest"

[tools.shfmt]
version = "latest"

[tools.sqruff]  # Aliased.
version = "latest"

[tools.starship]
version = "latest"

[tools.stylua]
version = "latest"

[tools.tclint]  # Aliased.
depends = "uv"
uvx_args = "--quiet"
version = "latest"

[tools.tombi]
version = "latest"

[tools.topgrade]
version = "latest"

[tools.tree-sitter]
version = "latest"

[tools.ts_query_ls]  # Aliased.
version = "latest"

[tools.ty]
version = "latest"

[tools.usage]
version = "latest"

[tools.uv]
path = "~/.local/bin"

[tools.zoxide]
version = "latest"

[settings]
minimum_release_age_excludes = ["ruff", "ty", "uv"]
node.compile = false
disable_tools = [
  # {{ if list "alpine" "android" | has .distro -}}
  "tree-sitter",
  # {{ end -}}
  # {{ if list "android" | has .distro -}}
  "node",
  # {{ end -}}
]
