#!/usr/bin/env bash

if grep -q "fish$" /etc/passwd; then
    exit 0
fi

echo "Changing default shell to fish."

if [ ! -f /usr/bin/fish ]; then
    echo "Fish shell file not found."
    exit 1
fi

{{ .sudo }} chsh --shell /usr/bin/fish $USER
