#!/usr/bin/env bash
# vim: filetype=sh
# chezmoi:template:left-delimiter="# {{"
# {{- if eq .distro "android" }}
# {{-   abortEmpty }}
# {{- end }}

set -eu

# shellcheck source=helpers/env.sh
source ~/.local/share/chezmoi/helpers/env.sh

print_blue "Installing development tools using 'mise' ..."

if ! command -v mise >/dev/null; then
    print_blue "'mise' is not installed. Installing ..."
    curl -LSfs https://mise.run | MISE_QUIET=1 sh
    print_green "'mise' installed successfully."
else
    print_blue "Checking for new 'mise' version ..."
    # trigger weekly check using week number: # {{ div now.YearDay 7 }}
    mise self-update --yes --silent
    print_green "'mise' is up to date."
fi

# mise config.toml hash: # {{ include "private_dot_config/mise/config.toml" | sha256sum }}
mise install

print_green "Development tools installed successfully."
