#!/usr/bin/env bash
# vim: filetype=sh

# chezmoi:template:left-delimiter="# {{"

set -eu

# shellcheck source=helpers/helpers.sh
source "$CHEZMOI_WORKING_TREE"/helpers/helpers.sh

FISH_PATH=/usr/bin/fish
USER=$(id -un)

print_blue "Changing default shell to 'fish' ..."

if [[ ${SHELL-} =~ fish$ ]] || grep --quiet "${USER}:${FISH_PATH}$" /etc/passwd; then
    print_green "'fish' already default. Will not change it."
    exit 0
fi
# {{ if ne .distro "android" }}
if ! test -x "${FISH_PATH}"; then
    print_red "'fish' is not installed. Exiting."
    exit 0
fi
# {{ end }}
if ! command -v chsh >/dev/null; then
    print_red "'chsh' command not found. Cannot change default shell."
    exit 0
fi
# {{ if eq .distro "android" }}
yes fish | chsh >/dev/null
# {{ else }}
if ! grep --fixed-strings --line-regexp --quiet "$FISH_PATH" /etc/shells; then
    print_red "'fish' is installed but not listed in '/etc/shells'."
    exit 0
fi

chsh --shell "$FISH_PATH" "$USER" >/dev/null
# {{ end }}
print_green "Shell changed to 'fish' successfully."
