#!/usr/bin/env bash
# vim: filetype=sh

# chezmoi:template:left-delimiter="# {{"
# {{ if or (eq (lookPath "dnf") "") (eq .sudo "false") -}}
# {{   abortEmpty -}}
# {{ end -}}

set -eu

# shellcheck source=helpers/helpers.sh
source "$CHEZMOI_WORKING_TREE"/helpers/helpers.sh

print_blue "Installing dnf packages ..."
$CHEZ_SUDO dnf install -y --skip-unavailable # {{ template "packages" . }}
print_green "Packages installed successfully."
