#!/usr/bin/env fish
# vim: filetype=fish

echo "$(set_color brblue)Installing fisher plugins ...$(set_color normal)"

if not type --query fisher
    echo "$(set_color brred)Fisher is not installed. Exiting ...$(set_color normal)"
    exit 0
end

# Make fisher adopt itself.
contains jorgebucaran/fisher $_fisher_plugins
or set --universal --append _fisher_plugins jorgebucaran/fisher

# fish_plugins hash: {{ include "private_dot_config/fish/fish_plugins" | sha256sum }}
fisher update >/dev/null || exit 1

echo "$(set_color brgreen)Installed $(count (fisher list)) fish plugins.$(set_color normal)"
