#!/usr/bin/env bash
# vim: filetype=sh
# chezmoi:template:left-delimiter="# {{"
# {{- if eq .distro "android" }}
# {{-   abortEmpty }}
# {{- end }}

set -eu

# shellcheck source=helpers/env.sh
source ~/.local/share/chezmoi/helpers/env.sh

print_blue "Installing development tools using 'mise' ..."

if ! command -v mise >/dev/null; then
    print_red "'mise' is not installed. Abborting ..."
    exit 0
fi

print_blue "[$(mise version)] Checking for new 'mise' version ..."
# Trigger weekly script re-run by using the week number: # {{ div now.YearDay 7 }}
mise self-update --yes 1>/dev/null
print_green "[$(mise version)] 'mise' is up to date."

# config.toml hash: # {{ include "private_dot_config/mise/config.toml" | sha256sum }}
mise bootstrap

print_green "Development tools installed successfully."
