#!/usr/bin/env bash
# vim: filetype=sh
# chezmoi:template:left-delimiter="# {{"
# {{- if not (has .distro (list "android" "debian" "ubuntu")) }}
# {{-   abortEmpty }}
# {{- end }}

set -eu

# shellcheck source=helpers/env.sh
source ~/.local/share/chezmoi/helpers/env.sh

if test "$CHEZ_SUDO" = "false"; then
    exit 0
fi

# Disable interactive prompts.
export DEBIAN_FRONTEND="noninteractive"

print_blue "Syncing apt database ..."
$CHEZ_SUDO apt update -y
print_green "Apt database synced successfully."

# {{- if eq .distro "android" }}

print_blue "Updating system to avoid dependency mismatches ..."
yes | apt full-upgrade
print_green "Packages upgraded successfully."

# {{- end }}

AVAILABLE_PACKAGES=$(
    comm -12 \
        <(apt-cache pkgnames | sort) \
        <(tr " " "\n" <<<'# {{ template "packages" . }}')
)

print_blue "Installing apt packages ..."
# shellcheck disable=2086
$CHEZ_SUDO apt install -y $AVAILABLE_PACKAGES
print_green "Packages installed successfully."
