// chezmoi:template:left-delimiter="/**" right-delimiter="**/"
// vim: filetype=jsonc

{
  "$schema": "zed://schemas/settings",

  // Fonts.
  /** print `"buffer_font_size": ` .fonts.size `,` **/
  /** print `"git_commit_buffer_font_size": ` .fonts.size `,` **/
  /** print `"ui_font_size": ` .fonts.size `,` **/
  "buffer_font_family": "AdwaitaMono Nerd Font Mono",
  "ui_font_family": "UbuntuMono Nerd Font Mono",

  // Look & feel.
  "cli_default_open_behavior": "new_window",
  "collaboration_panel": { "button": false },
  "colorize_brackets": true,
  "completion_menu_item_kind": "symbol",
  "middle_click_paste": false,
  "outline_panel": { "dock": "left" },
  "project_panel": { "dock": "left", "sort_order": "unicode" },
  "status_bar": { "line_endings_button": true, "show_active_file": true },
  "when_closing_with_no_tabs": "close_window",
  "wrap_guides": [80, 88],
  "theme": {
    "light": "Adwaita Light",
    "dark": "Adwaita Dark",
  },
  "icon_theme": {
    "light": "VSCode Icons for Zed (Light Official Icons)",
    "dark": "VSCode Icons for Zed (Dark Official Icons)",
  },

  // Extensions.
  "auto_install_extensions": {
    // Extensions: default
    "html": true,
    // Extensions: custom
    "adwaita": true,
    "fish": true,
    "git-firefly": true,
    "gotmpl": true,
    "ini": true,
    "lua": true,
    "tcl": true,
    "tombi": true,
    "toml": true,
    "vscode-icons": true,
    "xml": true,
  },

  // Integrated terminal.
  "use_podman": true,
  "terminal": {
    "minimum_contrast": 70,
    "env": {
      "GIT_EDITOR": "zed --wait",
    },
  },

  // Detect more files types correctly.
  "file_types": {
    "Go Text Template": ["*.tmpl"],
    "ini": ["*.reg"],
  },

  // Languages & formatting.
  "hard_tabs": false,
  "format_on_save": "on",
  "line_ending": "prefer_lf",
  "preferred_line_length": 88,
  "languages": {
    "Fish": { "formatter": { "external": { "command": "fish_indent" } } },
    "Lua": { "formatter": { "external": { "command": "stylua", "arguments": ["-"] } } },
    "Python": { "language_servers": ["ty", "ruff"] },
    "TOML": { "tab_size": 2 },
    "TCL": {
      "formatter": "language_server",
      "language_servers": ["typescript-language-server"],
    },
  },

  "lsp": {
    // Stole an unused LSP for `tclint` because Zed does not support custom LSPs:
    // https://github.com/zed-industries/zed/discussions/24092
    "typescript-language-server": { "binary": { "path": "tclsp" } },
  },

  // Version control.
  "diff_view_style": "unified",
  "git_panel": { "dock": "left", "group_by": "staging", "tree_view": true },

  // Disable auto-updates & telemetry.
  "auto_update": false,
  "telemetry": { "diagnostics": false, "metrics": false },

  // Artificial intelligence.
  "edit_predictions": { "mode": "subtle" },
  "agent": {
    "default_profile": "ask",
    "dock": "right",
    "sidebar_side": "right",
    "tool_permissions": { "tools": { "fetch": { "default": "allow" } } },
  },
}
