[user]
    email = {{ .email | quote }}
    name = {{ .name | quote }}

[core]
    eol = lf
{{- if lookPath "delta" }}
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true

{{- end }}

[merge]
    conflictstyle = diff3

[url "https://github.com/"]
    insteadOf = "gh:"

[url "https://codeberg.org/"]
    insteadOf = "cb:"

{{- if lookPath "gh" }}

[credential "https://github.com"]
    helper =
    helper = !gh auth git-credential

[credential "https://gist.github.com"]
    helper =
    helper = !gh auth git-credential

{{- end }}
