[Desktop Entry]
Version=1.0
Type=Application
Name=Zed (New Window)
GenericName=Text Editor
Comment=A high-performance, multiplayer code editor.
TryExec=zeditor
StartupNotify=true
Exec=zeditor --new %U
Icon=zed
Categories=Development;IDE;Office;TextEditor;Utility;
Keywords=notepad;text;zed;
MimeType=text/plain;application/x-zerosize;x-scheme-handler/zed;
Name=Zed (New Window)
Comment=A high-performance, multiplayer code editor.
Keywords=notepad;text;zed;
NoDisplay=true
