# These are the fish abbreviations.
{{ include "private_dot_config/fish/conf.d/30_abbreviations.fish" -}}

# These are fish built-ins so they are not listed in the fish abbreviations file.
abbr .. "cd .."
abbr ll "ls -l"
abbr la "ls -la"
