{{ if not .isPersonal -}}
{{   abortEmpty -}}
{{ end -}}

binddefaults // Reset all binds to defaults.

bind F3 callvote
bind H +lookatweapon;-lookatweapon
bind MOUSE5 lastinv // Switch to last weapon.

bind MWHEELDOWN slot3  // Knife.
bind 4          slot6  // High-explosive.
bind Q          slot7  // Flashbang.
bind T          slot8  // Smoke.
bind C          slot9  // Decoy.
bind F          slot10 // Molotov/Incendiary.
bind MWHEELUP   slot11 // Zeus.

bind N noclip // Move through walls.
bind J disconnect

// Crosshair.
cl_crosshair_t  1
cl_crosshairdot 1

// Radar.
cl_radar_square_always 1

// View model.
viewmodel_fov 60
viewmodel_offset_x -2
viewmodel_offset_y -2
viewmodel_offset_z -2
